@font-face {
  font-family: 'GillSans';
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-Light.eot');
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-Light.woff2') format('woff2'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-Light.woff') format('woff'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-Light.ttf')  format('truetype'),       
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans';
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-LightItalic.eot');
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-LightItalic.woff2') format('woff2'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-LightItalic.woff') format('woff'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-LightItalic.ttf')  format('truetype'),       
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GillSans';
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans.eot');
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans.woff2') format('woff2'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans.woff') format('woff'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans.ttf')  format('truetype'),    
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans.eot?#iefix') format('embedded-opentype');
  font-weight: normal; /* 400 */
  font-style: normal;
}

@font-face {
  font-family: 'GillSans';
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-Italic.eot');
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-Italic.woff2') format('woff2'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-Italic.woff') format('woff'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-Italic.ttf')  format('truetype'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GillSans';
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-SemiBold.eot');
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-SemiBold.woff2') format('woff2'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-SemiBold.woff') format('woff'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-SemiBold.ttf')  format('truetype'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans';
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-SemiBoldItalic.eot');
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-SemiBoldItalic.woff2') format('woff2'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-SemiBoldItalic.woff') format('woff'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-SemiBoldItalic.ttf')  format('truetype'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GillSans';
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-Bold.eot');
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-Bold.woff2') format('woff2'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-Bold.woff') format('woff'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-Bold.ttf')  format('truetype'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold; /* 700 */
  font-style: normal;
}

@font-face {
  font-family: 'GillSans';
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-BoldItalic.eot');
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-BoldItalic.woff2') format('woff2'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-BoldItalic.woff') format('woff'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-BoldItalic.ttf')  format('truetype'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'GillSans';
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-UltraBold.eot');
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-UltraBold.woff2') format('woff2'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-UltraBold.woff') format('woff'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-UltraBold.ttf')  format('truetype'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/GillSans/GillSans-UltraBold.eot?#iefix') format('embedded-opentype');
  font-weight: 800;
  font-style: normal;
}

/* Garamond */
@font-face {
  font-family: 'EBGaramond12';
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/ebgaramond/EBGaramond12-Regular.eot');
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/ebgaramond/EBGaramond12-Regular.woff2') format('woff2'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/ebgaramond/EBGaramond12-Regular.woff') format('woff'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/ebgaramond/EBGaramond12-Regular.ttf')  format('truetype'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/ebgaramond/EBGaramond12-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EBGaramond08';
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/ebgaramond/EBGaramond08-Regular.eot');
  src: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/ebgaramond/EBGaramond08-Regular.woff2') format('woff2'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/ebgaramond/EBGaramond08-Regular.woff') format('woff'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/ebgaramond/EBGaramond08-Regular.ttf')  format('truetype'),
       url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/fonts/ebgaramond/EBGaramond08-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body{
    line-height: 1.42857143;
    color: #2b2a2b;
    /*font-family:hubl_var("font_family",$font_family);*/
    font-family: "GillSans"; /*"ebgaramond12";*/
    letter-spacing:1px;

}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
    margin: 20px 0px;
    font-family:"GillSans";
    letter-spacing:1px;
}
.cta_button{
    font-family:"GillSans";
    
}
p{
    margin: 20px 0px;
    font-family: "GillSans"; /*"ebgaramond12";*/
}
label{
    span{
        background-color: transparent;
    }
}

.hs_cos_flex-direction-nav{ 
    a{
        background-image: url(http://cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/bg_direction_nav.png);
    }
}
.row-fluid [class*="span"]{
    min-height:0px;
}

.container{
    max-width:1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*,*:before,*:after{
    box-sizing:border-box;
}
h1,h2,h3,h4,h5{

}
body,a,p,span,div,ul,li,input,span,textarea{
	margin:0px;
	padding:0px;
	outline: none;
    font-size:20px;
    font-weight:200;
   

    span {
        font-size: inherit;
        font-weight: inherit;
    }
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
 margin: 20px 0px;   
}

textarea{
    padding: 8px;
}


.widget-type-header {
    h1, h2, h3, h4, h5, h6 {
        span {
            font-size: inherit;
            font-weight: inherit;
            color: #ffc400;
        }
    }
}
header.header{
    .widget-type-logo{
        height: 70px;
        position: relative;
    }
    
    .widget-type-logo img.hs-image-widget{
        max-width:206px;
        max-height:60px;
        width:auto;
        top:50%;
        transform:translateY(-50%);
        position:absolute;
    }
}
.widget-type-rich_text a{
    color: #ffc400;
    :hover{
        text-decoration: underline;
    }
}

    .widget-type-form{
        .form-title{
            font-size: 33px;
            font-weight: bold;
            text-align: left;
            margin: 65px 0 25px 0;
            color: #ffc400;
        }
        form .hs-form-required{
            display:none;
            form input{
                background-color: transparent;
                border: none;
                outline: none;
                font-size:20px;
                font-weight: 300;
                border: solid 1px #d6d5d5;
                margin-top: 8px;
                color: initial;
                font-family: 'GillSans';
            }
        }
        .hs-form-field {
            margin-bottom: 15px;
        }
        form input.hs-button{
            background-color: #ffc400;
            border-bottom:0;
            padding: 7px 40px;
            text-transform: uppercase;
            border-radius: 3px;
            cursor:pointer;
            color:#fff;
            -webkit-appearance: none;
                font-family: 'GillSans';
        }
        form select {
                background-color: #4a4949;
            border: 0;
            outline: 0;
            font-size: 16px;
            font-weight: 300;
            border-bottom: solid 1px #fff;
            color: #fff;
            margin-top: 19px !important;
            font-family: hubl_var("font_family",$font_family),sans-serif;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin-top: 0px;
            border-radius: 0;
            background-image: url('http://cdn2.hubspot.net/hubfs/309194/Assets_MS/angle-down.png');
            background-repeat: no-repeat;
            background-position-x: 98%;
            background-position-y: 64%;
        }
    form input.hs-button:hover{
        background-color: #fff;
        color:#ffc400;
        -webkit-appearance: none;
    }
    form textarea{
        background-color: transparent;
        border: none;
        outline: none;
        font-size:20px;
        font-weight: 300;
        border: solid 1px #d6d5d5;
        color: initial;
        margin-top:8px;
        font-family: hubl_var("font_family",$font_family),sans-serif;
        min-height:130px;
    }

    form ul li{
        list-style-type: none;
        color: #fff;
    }
        form ul li.hs-form-checkbox{
            color: #2b2a2b;
        }
        form ul li.hs-form-booleancheckbox{
            color: #2b2a2b;
        }
        label{
            span{
                color:#fff;
            }
            position:relative;
        }
                    input[type="checkbox"]{
                    position:relative;
                    height:3px;
                    width:15px;
                    top: -6px;
                    margin-right: 3px;
                                visibility:hidden;

                    +span{
                        &:before{
                        content:"";
                        position:absolute;
                        top:10px;
                        left:-1px;
                        background-image:url("//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/checkbox.png");
                        display:block;
                        width:16px;
                        height:16px;
                        background-position:left top;
                        }
                    }
                    &:checked{
                        +span{
                        &:before{
                            background-position:16px 0px;
                        }
                    }
                    }
                    
                }
                input[type="radio"]{
                    position:relative;
                    height:3px;
                    width:15px;
                    top: -6px;
                    margin-right: 8px;
                         visibility:hidden;
               +span{
                        &:before{
                        content: "";
                        position: absolute;
                        top: 10px;
                        left: -1px;
                        background-image: url("//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/radio.png");
                        display: block;
                        /* background-repeat: no-repeat; */
                        width: 16px;
                        height: 16px;
                        background-position: 0px 0px;
                        }
                    }
                    &:checked{
                        +span{
                        &:before{
                            background-position:16px 0px;
                        }
                    }
                    }                    
                }
    
    h3{
        font-size: 33px;
        font-weight: bold;
        text-align: left;
        margin: 65px 0 25px 0;
        color: #ffc400;
    }
    form .hs-form-required{
        display:none;
    }
    .home-contact-section .widget-type-form label{
        color:#fff;
    }
    form input{
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 300;
        border-bottom: solid 1px #fff;
        color: #fff;
        margin-top:38px;
        font-family: "GillSans";
    }
    form input[type="submit"]{
        border-bottom: none;   
        font-size:20px;
        font-family: "GillSans";
    }
    form input.hs-button{
        background-color: #ffc400;
        padding: 7px 40px;
        text-transform: uppercase;
        border-radius: 3px;
        cursor:pointer;
        color:#fff;
        line-height: 30px;
        -webkit-appearance: none;
        font-family: "GillSans";
    }
    form input.hs-button:hover{
        background-color: #fff;
        color:#ffc400;
        -webkit-appearance: none;
    }
    form textarea{
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 300;
        border-bottom: solid 1px #fff;
        color: #fff;
        margin-top:38px;
        font-family: "GillSans";

        min-height:130px;
    }
    
    form ul li{
        list-style-type: none;
    }

    }
.footer-info .widget-type-form{
     form{
        margin-top: 30px;
        .hs-error-msgs{
            a, label{
                color:#fff;
                font-size: 16px;
            }
        }
    }
    .form-title{
        display:none;
    }
    form input{
        margin-top: 19px;
        color:#fff;
    }
    form div:first-of-type div:first-of-type div:first-of-type input:first-of-type{
        margin-top:35px;
    }
::-webkit-input-placeholder {
   color: #fff;
    font-family: "GillSans";
    letter-spacing:1px;
}

::-moz-placeholder { /* Firefox 18- */
   color: #fff;  
    font-family: "GillSans";
    letter-spacing:1px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
    font-family: "GillSans";
    letter-spacing:1px;
}

::-ms-input-placeholder {  
   color: #fff;  
    font-family: "GillSans";
    letter-spacing:1px;
}
form{
    margin-top: 30px;
}
}
.hs-form-checkbox-display span{
    padding-left: 5px;
    color: white;
}

/*    .contact-page .widget-type-form .form-title{
        margin-top: 45px;
    	margin-bottom: 24px;
		font-size: 31px;
		color: #ffc400;
		text-align: left;
		font-weight: 600;
    }    
    
    .contact .widget-type-form form input{
        border: none;
        border-bottom: solid 1px #fff;
        color: #fff;
        margin-top: 38px;
    }
    .contact .widget-type-form form div:first-of-type div:first-of-type div:first-of-type input:first-of-type{
        margin-top: 10.4px;
    }
    
    .contact .widget-type-form form ::-webkit-input-placeholder {
   color: #fff;
    font-family: 'Houschka Pro',sans-serif;
}

.contact .widget-type-form form ::-moz-placeholder {  Firefox 18- 
   color: #fff;  
   font-family: 'Houschka Pro',sans-serif;
}

.contact .widget-type-form form ::-moz-placeholder {   Firefox 19+ 
   color: #fff;  
   font-family: 'Houschka Pro',sans-serif;
}

.contact .widget-type-form form ::-ms-input-placeholder {  
   color: #fff;  
   font-family: 'Houschka Pro',sans-serif;
}
    .contact .hs-form-field {
        margin-bottom: initial;
    }

    
    .contact-page .widget-type-form form input{
        border: solid 1px #d6d5d5;
        margin-top:8px;
        color: initial;
    }
    .contact-page .hs-form-field{
        margin-bottom: 15px;
    }
    
    .contact .widget-type-form form textarea{
        border: none;
        border-bottom: solid 1px #fff;
        color: #fff;
        margin-top: 38px;
    }
    
    
    .contact-page .widget-type-form form textarea{
        border: solid 1px #d6d5d5;
        margin-top:8px;
        color: initial;
    }
    .content-landing .widget-type-form .form-title{
        display: none;
    }
    .content-landing .landing-social-sharing{
        margin-top: 15px;
        margin-bottom: 30px;
    }
.side-bar-blog ::-webkit-input-placeholder {
   color: #2b2a2b;
    font-family: 'Houschka Pro',sans-serif;
}

.side-bar-blog :-moz-placeholder {  Firefox 18- 
   color: #2b2a2b;  
   font-family: 'Houschka Pro',sans-serif;
}

.side-bar-blog ::-moz-placeholder {   Firefox 19+ 
   color: #2b2a2b;  
   font-family: 'Houschka Pro',sans-serif;
}

.side-bar-blog :-ms-input-placeholder {  
   color: #2b2a2b;  
   font-family: 'Houschka Pro',sans-serif;
}
.side-bar-blog .widget-type-form form input{
    border-bottom: solid 1px #ffc400;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #2b2a2b;  
}
.side-bar-blog .widget-type-form form input[type="submit"]{
    background-color: #ffc400;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 500;
    padding: 4.5px 20px;
    border: solid 2px #ffc400;
}
.side-bar-blog .widget-type-form form input[type="submit"]:hover{
    background-color: white;
    color: #ffc400;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 500;
    padding: 4.5px 20px;
    border:solid 2px #ffc400;  
}
.side-bar-blog .widget-type-form form .hs_submit input{
    color: #fff; 
    margin-top: 20px;
}
.side-bar-blog .widget-type-form form .hs_submit input:hover{
    color: #ffc400; 
}


.side-bar-blog .widget-type-form .form-title {
    font-size: 24px;
    font-weight: normal;
}
*/








a, .button, .yellow-button, .hs-button {
    -webkit-appearance: none;
}

a, a:visited,a:focus,
a:hover, a:active,input:focus,input:active,input:hover,input:visited,input,button:focus,button:active,button:hover,button:visited,button{
	outline: none;
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.gray-hover:hover  a{
    color: #75787b !important;
}
.padding-zero{
	padding:0px;
}
.button{
	display: block;
	padding:18px 13px;
	border-radius: 5px;
	font-size: 20px;
	border:solid 2px #fff;
	color:#fff;
	padding:10px;
	text-decoration: none !important;
	text-align: center;
}
.buttonsec{
	background-color:#ffc400;
	border-color:#ffc400;
	color:#fff;
}
.button:hover{
	background-color:#ffc400;
	color:#fff;
    border:#ffc400 solid 2px!important;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.buttonsec:hover{
	display: block;
	padding:18px 13px;
	border-radius: 5px;
	font-size: 20px;
	border:solid 2px #fff;
	color:#fff;
	padding:10px;
	text-decoration: none;
	text-align: center;
	background-color: transparent;
}
h1{
	font-size: 58px;
	color:#ffc400;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
}
h2{
	font-size: 36px;
	color:#ffc400;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
}
h3{
    font-size: 30px;
	color:#ffc400;
    font-weight:normal;
}
h4{
	font-size: 26px;
	color:#ffc400;
    font-weight:normal;
}
.hs_cos_wrapper_type_rich_text{
    h1{
    font-size: 42px;
    color:#ffc400;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    font-weight:normal;
    }
    h2{
    font-size: 36px;
    color:#ffc400;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    font-weight:normal;
    }
    h3{
    font-size: 30px;
    color:#ffc400;
    font-weight:normal;
    }
    h4{
    font-size: 26px;
    color:#ffc400;
    font-weight:normal;
    }
    p{
        margin-top:0px;
    }
    a{
        color:#ffc400;
        &:hover{
            text-decoration:underline;
        }
    }
            blockquote{
            margin-left:0px;
            margin-right:0px;
            position:relative;
            text-align:center;
            margin-bottom:20px;
            &:before{
                content:"\f10d";
                font-family:"FontAwesome";
                color:#ffc400;
                display:inline-block;
                padding-right:10px;
                font-size:25px;
                position:relative;
                top:0px;
                line-height:0;
            }
            &:after{                
                content:"\f10e";
                font-family:"FontAwesome";
                color:#ffc400;
                display:inline-block;
                padding-left:10px;
                font-size:25px;
                position:relative;
                bottom:-10px;
                line-height:0;
            }
            p{
                display: inline;
            }
        }
    ul{
            list-style:none;
            padding-left:40px;
            margin-bottom:20px;

            li{
                position:relative;
                margin-bottom:6px;
                &:before{
                    content:"";
                    position:absolute;
                    background-image:url("//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/ul-list.png");
                    width:16px;
                    height:16px;
                    background-position:center;
                    left:-30px;
                    top:50%;
                    transform:translateY(-50%);
                }
            }
        }
        ol{
            margin-bottom:20px;
            counter-reset: li;
            list-style:none;
            padding-left:40px;
            li{
                margin-bottom:6px;
                position:relative;
                &:before{
                    color: #ffc400;
                    counter-increment: li;
                    content: counter(li);
                    position: absolute;
                    width: 16px;
                    background-position: center;
                    left: -25px;
                    top: 50%;
                    display: block;
                    font-size: 20px;
                    transform: translateY(-50%);
                    vertical-align: middle;
                    height: 32px;

                }
            }
        }
}
.secondary-header{
    text-align:center;
}
.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 77px;
    /*margin-top: 125px;*/
    cursor:pointer;
    position: absolute;
    left: 50%;
    /* px swiruje na submarket/market pages, bo jest tam absolutna maska */
    top: auto;
    bottom: 50px;
    margin-left: -10px;
}
.individual-project-page .mouse_scroll {
    top: auto;
}
.about-us .mouse_scroll {
    /* fix dla strony about-us z mniejszym headerem */
    top: 400px
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
    margin: 0 0 5px 4px;
    width: 13px;
    height: 13px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    animation: mouse-scroll 1.5s infinite;
    -webkit-animation: mouse-scroll 1.5s infinite;
    -moz-animation: mouse-scroll 1.5s infinite;
}

.unu
{
  animation-delay:.1s;
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi
{
  animation-delay: .2s;
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

.trei
{
  animation-delay: .3s;
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}



.mouse
{
height: 34px!important;
    width: 20px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel
{
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  
  -webkit-animation: mouse-wheel 1.5s linear infinite;
  -moz-animation: mouse-wheel 1.5s linear infinite;
  animation: mouse-wheel 1.5s linear infinite;
}




@-webkit-keyframes mouse-wheel
{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

.footer{
    background-color: #393939;
    height: 67px;
    color:#fff;
    position: relative;
}
.widget-type-text{
    a{
        color:#fff;
        &:hover{
            text-decoration:underline;
        }
    }
}
    .footer .copy{
        font-size: 15px!important;
        color:#fff;
        font-weight: 300;
        line-height: 65px;
        font-family:"GillSans"; /*"ebgaramond12";*/
        width: auto;
        span, a{
             font-size: 15px!important;
            span{
              font-weight: 500;
            }
        }
        @media (max-width: 380px) {
          line-height: 20px;
          max-width: 200px;
          margin-top: 10px;
        }

    }
    .footer .links{
        text-align: right;

    }
        .footer .links a{
            font-size: 15px;
            color:#fff;
            font-weight: 300;
            line-height: 67px;
            padding:0px 5px;
            -webkit-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
            font-family:"GillSans"; /*"ebgaramond12";*/
        }
        .footer .links a:hover{
            color:#ffc400;
            text-decoration:none;
            -webkit-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
        }
    .footer .scroll-top{
        height: 67px;
        width: 67px;
        background-color: #ffc400;
        position: absolute;
        right: 0px;
        bottom: 0px;
        cursor:pointer;
        text-align: center;
    }
        .footer .scroll-top i{
            font-size: 44px;
            color:#fff;
            line-height: 67px;
            -webkit-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
        }
    .footer .scroll-top:hover i{
        line-height: 45px;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
    .footer-info{
    background-color: #4a4949;
    padding-bottom: 30px;
}
    .footer-info h3{
        font-size: 20px;
        margin: 25px 0px 30px 0px;
        color:#fff;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .footer-info h4{
        font-size: 16px;
        color:#fff;
        margin-bottom: 5px;
        font-weight: 300;
    }
    .footer-info .hs-rss-title{
        font-size: 16px;
        color:#fff;
        margin-bottom: 5px;
        font-weight: 300;
        font-family:"GillSans"; /*"ebgaramond12";*/
    }
    .footer-info p{
        font-size: 16px;
        color:#fff;
        margin-bottom: 25px;
        font-weight: 300;
        letter-spacing: 1px;
        font-family:"GillSans"; /*"ebgaramond12";*/
    }
    .footer-info p{
        span{
            font-family:"GillSans";
            letter-spacing:1px;
            font-size:16px;
        }
        a{
            font-size:16px;
        }
    }
    .footer-info .hs-rss-date{
        font-size: 14px;
        color:#fff;
        padding-bottom: 15px;
        margin-bottom: 15px;
        font-weight: 300;
        border-bottom: solid 1px #fff;
        display:block;
        font-family:"GillSans"; /*"ebgaramond12";*/
    }
    .footer-info .hs-rss-byline{
        opacity:1;
    }
    .social-footer{
    background-color:#ffc400;
}
    .social-footer .container.position{
        position: relative;
    }
    .social-footer ul{
        text-align: center;
    }   
        .social-footer ul li{
            padding:20px 0px;
            margin:0px 65px;
            display: inline-block;  
        }   
            .social-footer ul li a{

            }
                .social-footer ul li a i{
                    color:#fff;
                    font-size: 45px;
                }
    .social-footer .text{
        font-weight: lighter;
        font-size: 24px;
        margin-top: 6px;
        color:#fff;
    }
    .social-footer .text span{
        font-weight: lighter;
        font-size: 24px;
        color:#fff;
    }
    .social-footer .text{
    position:relative;
    min-height:85px;
}
.social-footer .text .hs_cos_wrapper_type_text {
    position: absolute;
    top: 50%;
    font-family:"GillSans";
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-top: -5px;
    font-weight:300;
    br{
      @media (max-width : 867px) {
        display: none;
      }
    }
}
    .social-footer .triangle{
        position: absolute;
        bottom: -30px;
        right: 26%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 34px 24.5px 0 24.5px;
        border-color: #ffc400 transparent transparent transparent;
    }
.slicknav_nav{
    background-color: #393939;
}
.header--white .slicknav_nav {
    background-color: #fff; 
}
		.slick-arrow{
			position:absolute;
			top:50%;
			width:auto;
			height:auto;
			transform:translateY(-50%);	
			z-index:1;
			&.slick-prev{
				left:48px;
				&:before{
				    content:'';
				    background-image:url("//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png");
				    background-repeat:no-repeat;
				    background-size:cover;
				    width:30px;
				    height:58px;
				    display:block;
				}
			}
			&.slick-next{
				right:48px;
				&:before{
				    content:'';
				    background-image:url("//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png");
				    background-repeat:no-repeat;
				    background-size:cover;
				    transform:scaleX(-1);
				    width:30px;
				    height:58px;
				    display:block;
				}	
			}
		}

 


.yellow-button {
    background: $mainColor;
        padding: 10px 10px;
        text-transform: uppercase;
        display: block;
        margin: 30px auto 20px auto;
        width: 70%;
        color: white;
        border-radius: 5px;
        border: 2px solid transparent;
        cursor: pointer;
        transition: all .2s;
        &:hover {
            background: white;
            border-color: $mainColor;
            color: $mainColor;
        }
}

.mask {
    position: absolute;
    background: rgba(black, .3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

// -------------------//
// -LANDING GLOBALS- //
// ------------------//

// HEADER
.landing-page{
  header.header.perma-fixed {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    
    .container{
        .landing-flex-menu{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
           // background-color: pink;
            margin: 0 auto;
            .widget-type-cta {
                 @media (max-width: 400px){
                    display: none;
                }
            }
        }
    }
  }
}


// FOOTER
  .landing-page{
    .footer-container-wrapper {
        border: none;
        padding: 0;
        .footer {
            &--landing {
                min-height: 220px;
                background-color: #4a4949;
                padding: 0;
            }
            .container {
                position: relative;
            }
            ul {
                text-align: center;
                overflow: auto;
                position: relative;
                left: 50%;
                margin-left: -100px;
                margin-top: 60px;
                max-width: 250px;
                li {
                    list-style-type: none;
                    float: left;
                    a i {
                        background: #fff;
                        color: #4a4949;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        font-size: 25px;
                        text-align: center;
                        margin-right: 10px;
                        padding-top: 15%;
                        &:hover{
                          background-color: #bfbfbf;
                        }
                    }
                }
            }
            .footer-copyright {
                font-size: 18px;
                font-weight: 200;
                font-family: "GillSans"; /*"ebgaramond12";*/
                color: #fff;
                text-align: center;
                margin-top: 30px;
                margin-bottom: 60px;
                @media (max-width: 767px) {
                  margin-top:10px;
                }
            }
        }
    }

    /* STICKY FOOTER */
    .body-container-wrapper {
        min-height: calc(100vh - 218px);
    }
  }






