
.menu-black .slicknav_nav a{
	color:#2b2a2b;
}
.header--white .slicknav_nav a {
	color: #2b2a2b;
}
.menu-black .slicknav_nav ul{
	background-color: #fff;
}
.menu-black .fixed .slicknav_nav a{
	color:#fff;
}
.slicknav_menu {
	display: none;
    position: fixed;
    top: 13px;
    z-index: 1000;
    right: 0px;
    background-color: transparent;
    width: 100%;
    margin: 0px;
    padding: 0px;

}
.slicknav_nav{
    width: 100%;
    max-height: calc( 100vh - 57px );
    overflow: auto;
}

.header--white .slicknav_nav .slicknav_row:hover {
	background: #fff;
	color: #000;
}

.header--white .slicknav_nav a:hover {
	background: transparent;
}

.slicknav_btn{
    background-color:transparent;
}
.slicknav_menu .slicknav_icon-bar{
    width: 1.7em;
    height: 0.15em;
}
.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
    margin-top: .35em;
}
.slicknav_nav .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:hover>ul.hs-menu-children-wrapper{
    position: initial;
}
.slicknav_nav ul {
    margin: 13px 0px 0 0px;
    padding-left: 20px;
    background-color: #393939;
    -webkit-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	background-color: transparent; 
}
header.header{
	position: fixed;
	width: 100%;
	height: 70px;
	z-index: 999;
    border-bottom:solid 1px #fff;
	background-color: rgba(99,99,98,0.0);
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
header.header--white {
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
header.header.perma-fixed {
    background-color: rgba(57, 57, 57, 1);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border-bottom:none;
}
header.header.fixed{
	background-color: #393939;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
    border-bottom:none;
}
header.header--white.fixed {
	background-color: #fff;
}
header.header.fixed-small{
    background-color: #fff;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

header.header .slicknav_nav ul{
	background-color: #393939;
	-webkit-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	
}
header.header--white .slicknav_nav ul{
	background-color: #ffc400;

}
.header--white .slicknav_nav{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

	header.header h1.logo{
		margin-top: 21px;
        color: #fff;
        position: relative;
        @media screen and (max-width: 971px) {
		    margin-top: 28px;	
		}

	}
    h1.logo img {
        z-index: 500;
    }
		header.header h1.logo a{
			outline: none;
			display: block;
			font-size: 0px;
            color: #fff;

		}
		header.header h1.logo a img{
			display: block;		
            /*width: initial !important;*/
            height: auto;
            max-width:none;
            max-height:55px;
		}

	header.header  #menu{
		float: right;
	}
		header.header  #menu ul{
			padding:0px;

		}
            header.header  #menu ul li ul{
                -webkit-transition: all 0.3s linear;
    			-o-transition: all 0.3s linear;
				transition: all 0.3s linear;
            }
            header.header  #menu ul li:hover ul{
                -webkit-transition: all 0.3s linear;
				-o-transition: all 0.3s linear;
				transition: all 0.3s linear;
            }
			header.header  #menu ul li.hs-menu-depth-1{
                display: inline-block;
                line-height: 70px;
                position: relative;
			}
				header.header  #menu ul li.hs-menu-depth-1 a{
					text-decoration: none;
					font-weight: normal;
					font-size: 16px;
					display: block;
					color:#fff;
                    text-transform:uppercase;
                    padding:0px 20px;
                    max-width: none;
					-webkit-transition: all 0.3s linear;
					-o-transition: all 0.3s linear;
					transition: all 0.3s linear;
				}
				header.header--white  #menu ul li.hs-menu-depth-1 a {
					color:#2b2a2b;
				}
                header.header  #menu ul li.hs-menu-depth-1 ul li:hover a{
                    margin-left:10px;
    				-webkit-transition: all 0.3s linear;
					-o-transition: all 0.3s linear;
					transition: all 0.3s linear;
                }                
            header.header  #menu ul li.hs-menu-depth-1.hs-item-has-children > a:after {
                content: " \f107";
                font-family: FontAwesome;
             }
            .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper{
                visibility: visible;
                top: -500px;
            }
            .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:hover>ul.hs-menu-children-wrapper{
                top: inherit;
            }
            header.header  #menu ul li.hs-menu-depth-1 > ul{
                position: absolute;
                left: -22px;
                background-color: #fff;
                border-bottom: solid 2px #ffc400;
                min-width: 168px;
                -webkit-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.36);
                -moz-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.36);
                box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.36);
            }
            .hs-menu-item.hs-menu-depth-2{
                border-bottom: solid 1px rgba(98, 98, 98, 0.17);
            }

            .slicknav_nav .hs-menu-item.hs-menu-depth-2 {
            	border-bottom: none;
            }
            header.header #menu ul li.hs-menu-depth-2:last-child {
                padding-bottom: 4px;
            }
                header.header  #menu ul li.hs-menu-depth-2 a{
                    width: auto;
                    max-width: none;
                    padding: 0px 15px;
                    position: relative;
                    line-height: 33px;
                    color: #2b2a2b !important;
                    text-transform: initial;
                    
                }
                #menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children ul.hs-menu-children-wrapper {
                    position: initial;
                    margin-left: 15px;
                    overflow: hidden;
                    opacity: 1;
                    
                }
                    #menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-menu-item a{

                    }
                    #menu .hs-menu-depth-1 li.hs-item-has-children:hover > ul.hs-menu-children-wrapper li.hs-menu-item a{

                    }
                
				.menu-black header.header  #menu ul li a{
					color:#2b2a2b;
				}
				header.header.fixed  #menu ul li a{
					color:#fff;
				}
				header.header--white.fixed  #menu ul li a {
					color:#2b2a2b;
				}
				header.header  #menu ul li a.active{
					color:#ffc400;
				}
				header.header  #menu ul li a:hover{
					color:#ffc400 !important;
				}
	header.header #menu ul li a{
		font-family:"GillSans";
	}
	header.header .hs-form{
		float: right;
		line-height: 65px;
		margin-right: -40px;
		margin-left: 40px;
	}
    header.header .hs-form label{ 
        display: none;
    }
		header.header .hs-form input{
			position: relative;
			z-index: 3;
			height:30px;
			border:0;
            padding-left: 10px;
			box-shadow: none;
			background: #ffc400;
			color:#fff;
			padding-right:35px;
			border-radius: 20px;
			width: 15px;
			opacity:0;
			-webkit-transition: all 0.4s linear;
			-o-transition: all 0.4s linear;
			transition: all 0.4s linear;
		}
        header.header .hs-form .field a{
            color:#ffc400;
        }
        header.header--white .hs-form .field a{
        	color:#2b2a2b;
        }
        header.header .hs-form .field a:after{
            font-family: FontAwesome;
            content: "\f002";
            font-size: 20px;
    		background:none;
			box-shadow: none;
			border:0;
			font-size: 14px;
			cursor:pointer;
			position: relative;
			left:-40px;
			z-index: 2;
			-webkit-transition: all 0.4s linear;
			-o-transition: all 0.4s linear;
			transition: all 0.4s linear;
        }
        
		header.header .hs-form input:focus, header.header .hs-form input.active{
			opacity: 1;
			width:140px;
			z-index:1;
			-webkit-transition: all 0.4s linear;
			-o-transition: all 0.4s linear;
			transition: all 0.4s linear;
		}
		header.header .hs-form button{
			color:#ffc400;
			background:none;
			box-shadow: none;
			border:0;
			font-size: 14px;
			cursor:pointer;
			position: relative;
			left:-40px;
			z-index: 2;
			-webkit-transition: all 0.4s linear;
			-o-transition: all 0.4s linear;
			transition: all 0.4s linear;
		}


/*search button*/
#hs-search-module .hs-form div.input{
	margin-top: 3px;
}

#hs-search-module .hs-form input.hs-input{
	padding-top: 0px;
	padding-bottom: 0px;
}
header.header .hs-form .field a:after{
	top: -2px;
}
















