$dev_version : true;
$mainColor: #ffc400;
$secondaryTextColor: #2b2a2b;
/** Metoda dodająca zmienne 'habowe' **/

@mixin hubl($var_name,$var_value) {
	/*=={% set #{$var_name} = #{$var_value} %}==*/		
}

/** Metoda zmieniajace zmienne habowe na sass i odwrotnie, zależne od zmiennej dev_version **/

@function hubl_var($var,$dev){
	@if $dev_version == false {
  		@return unquote('{{'+$var+'}}');
	} @else {
		@return $dev;
	}
}
$font_family : 'GillSans'; /*"ebgaramond12";*/


