/****************************************/
/* HubSpot Template - Nazwa             */
/****************************************/
/*
*/
/* PRZYKŁAD: 1 znak nr w kolejności, a 2 znak pierwsza litera sekcji
   W wypadku pod grupy wyliczamy tylko pod kategorie

   versiondate: {date}
*/

/****************************************/
/* Index                                */
/* - 0R - HUBSPOT RESET STYLES          */
/*										*/
/* - 1V - VARIABLES                     */
/*										*/
/* - 2G - GLOBALS                       */
/*										*/
/* - 3M - CUSTOM MODULES                */
/* --- 3M1 - HOMESLIDER                 */
/* --- 3M2 - HOMEVIDEO                  */
/* --- 3M3 - FEATURE BOX                */
/* --- 3M4 - FEATURE YOLK BOX           */
/* --- 3M5 - SERVICE BOX                */
/* --- 3M6 - TESTIMONIAL                */
/* --- 3M7 - SMALL HEADER FOR BLOG      */
/* --- 3M8 - PRICING BOX FOR PRICING	*/
/* --- 3M9 - BRANDS SLIDER FOR PRICING  */
/* --- 3M10 - BLOG EMAIL SUBSCRIPTION	*/
/* --- 3M11 - RESOURCE 					*/
/* --- 3M12 - SKILLS CIRCLES         	*/
/* --- 3M13 - BACKGROUND SPACER         */
/* --- 3M14 - IPHONE MOCUP         	    */
/* --- 3M15 - PRICING BOX         	    */
/* --- 3M16 - SQUARE SERVICE BOX   	    */
/* --- 3M17 - SMALL HEADER BASIC   	    */
/* --- 3M18 - CTA BOX			  	    */
/* --- 3M19 - FEATURE BOX WITH MOCUP    */
/* --- 3M20 - HERO BANNER LANDING       */
/* --- 3M20 - HERO BANNER			    */
/* --- 3M21 - SMALL HERO SLIDER		    */
/* --- 3M22 - CONTCAT BANNER V1		    */
/* --- 3M23 - SOCIAL SHARE			    */
/* --- 3M24 - CONTCAT BANNER V2		    */
/* --- 3M25 - SMALL HEADER FOR CAREERS  */
/* --- 3M26 - PEOPLE  					*/
/* --- 3M27 - JOIN US  					*/
/*										*/
/* - 4H - HUBSPOT MODULES               */
/* --- 4H1 - RICH TEXT                  */
/*										*/
/* - 5W - WEBSITES                      */
/* --- 5W1 - HOME                       */
/* --- 5W2 - HOME V2                    */
/* --- 5W3 - BLOG V2				    */
/* --- 5W4 - PRICING V2                 */
/* --- 5W5 - RESOURCES V2               */
/* --- 5W6 - CONTACT V2                 */
/* --- 5W7 - HOME V3                    */
/* --- 5W8 - ONE COLUMN BASIC           */
/* --- 5W9 - TWO COLUMN BASIC           */
/* --- 5W10 - THREE COLUMN BASIC        */
/* --- 5W11 - ONE COLUMN BANNER HERO    */
/* --- 5W12 - TWO COLUMN BANNER HERO    */
/* --- 5W13 - THREE COLUMN BANNER HERO  */
/* --- 5W14 - ONE COLUMN SLIDER HERO    */
/* --- 5W15 - TWO COLUMN BASIC SUBMENU  */
/* --- 5W16 - THREE COLUM BASIC SUBMENU */
/* --- 5W17 - TWO COLUM EQUAL BASIC     */
/* --- 5W18 - TESTUMONIAL		        */
/* --- 5W19 - THREE COLUM EQUAL BASIC   */
/* --- 5W20 - EXPERTISE BOX             */
/* --- 5W21 - BLOG CAREERS              */
/* --- 5M22 - MEET THE TEAM 		    */
/*										*/
/* - XR - RESPONSIVES STYLES            */
/****************************************/


/****************************************\
 - 0R - HUBSPOT RESET STYLES          
\****************************************/
@import "_hubspot_styles.scss";
@import "_animate.scss";
@import "_slicknav.scss";
@import "_slick.scss";

/****************************************\
 - 1V - VARIABLES                     
\****************************************/
@import "_variables.scss";



/****************************************\
 - 2G - GLOBALS                       
\****************************************/
@import "_globals.scss";
@import "_menu.scss";



/****************************************\
 - 3M - CUSTOM MODULES                
\****************************************/
@import "Modules/*";
@import "Modules/*/*";


/****************************************\
 - 4H - HUBSPOT MODULE               
\****************************************/
@import "HS-Modules/*";
@import "HS-Modules/*/*";
/****************************************\
 - 5W - WEBSITES              
\****************************************/
@import "Website/*";
@import "Website/*/*";
/****************************************\
 - 6L - LANDINGS              
\****************************************/
@import "Landing/*";
@import "Landing/*/*";
/****************************************\
 - 7B - BLOGS              
\****************************************/
@import "Blog/*";
@import "Blog/*/*";

/****************************************/
/* - XR - RESPONSIVES STYLES            */
/****************************************/
@import "_responsive";



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*========== Non Mobile First Method  ==========*/



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
 
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {


}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}
