section.cta-banner-module{
	padding:72px 0;
	background-size:cover;
	background-repeat:no-repeat;
	position:relative;
	min-height:234px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	.container{
		width:100%;
		margin-left:15px;
		margin-right:15px;
	}
	.mask{
		background-color:rgba(0,0,0,0.24);
	}
	.content{
		position:relative;
		z-index:1;
		display:flex;
		flex-direction:row;
		justify-content:center;
		align-items:center;
		h2{
			min-width:70%;
			color:#fff;
			font-size:40px;
			text-transform:none;
			font-weight:400;
			margin-bottom:0px;
			margin-top:0px;
			text-align:center;
			margin-right:30px;
		}
		>div{
			text-align:center;
			min-width:30%;
			.cta_button{
				margin-top:0px!important;
			}
		}
	}
}
@media screen and (max-width:767px){
	section.cta-banner-module{
		.content{
			flex-direction:column;
			h2{
				margin-bottom:25px;
				margin-right:0px;
			}
			>div{
				text-align:center;
				min-width:30%;
				.cta_button{
					margin-top:0px!important;
				}
			}
		}
	}
}


