section.cta-section{
	padding:72px 0;
	background-color:#ffc400;
	background-image:url("//cdn2.hubspot.net/hubfs/500293/Stringo/Assets/img/cta_section_bg.png");
	background-size:cover;
	background-repeat:no-repeat;
	h2{
		color:#fff;
		font-size:40px;
		text-transform:none;
		font-weight:400;
		margin-bottom:40px;
		margin-top:0px;
		text-align:center;
	}
	.content{
		p{
			text-align:center;
			color:#fff;
			font-weight:300;
			font-size:25px;
		}
	}
}