section.our-products-section{
	padding:72px 0;
	background-size:cover;
	background-repeat:no-repeat;
	position:relative;
	h2{
		color:#2b2a2b;
		font-size:40px;
		text-transform:none;
		font-weight:400;
		margin-bottom:50px;
		margin-top:0px;
		text-align:center;
	}
	.container{
		position:relative;
		z-index:1;
		>.span12{
			float:none;
			margin-left:0;
			>.hs_cos_wrapper_widget_container{
				display:flex;
				flex-wrap:wrap;
				justify-content:space-between;
				>div{
					width:367px;
					max-width:33.333%;
					section.product-section{
						a{
							text-align:center;
							display:flex;
							flex-direction:column;
							justify-content: flex-end;
							width:100%;
							transition:linear all 0.3s;
							position:relative;
							min-height:373px;
							align-items:center;
							.mask{
								position:absolute;
								top:0;
								left:0;
								width:100%;
								height:100%;
								background-color: #ffc400;
								opacity:0;
								transition:linear all 0.3s;
								border-radius:5px;
								box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
							}
							img{
								max-width:290px;
								width:100%;
								height:auto;
							}
							&.disabled{
								pointer-events: none;
    							cursor: default;
								img{
									opacity: .5;
								}
							}
							h3{
								color:#2b2a2b;
								margin-top:10px;
								font-size:35px;
								margin-bottom:15px;
								width:100%;
								display:block;
								position:relative;
								text-transform:upppercase;
								font-weight:400;
								text-align:center;
								transition:linear all 0.3s;
								position:relative;
								z-index:1;
								&:before{
									content:"";
									background-image: url("//cdn2.hubspot.net/hubfs/500293/Stringo/Assets/img/arrow-right.png");
									position:absolute;
									display:block;
									right:10px;
									bottom:-5px;
									width:52px;
									height:52px;
									background-repeat: no-repeat;
									background-position: center center;
									z-index:1;
									background-color: #fff;
									border-radius:5px;
									opacity:0;

								}
							}
							&:hover{
								.mask{
									opacity:0.82;
								}
								h3{
									color:#fff;
									&:before{
										opacity:1;
									}
								}

							}
						}
					}
				}
			}

		}
	}
}

@media screen and (max-width:1140px){
	section.our-products-section{
	.container{
		>.span12{
			>.hs_cos_wrapper_widget_container{
				display:flex;
				flex-wrap:wrap;
				justify-content:space-between;
				>div{
					width:49%;
					max-width:50%;
					margin-bottom:40px;
					}
				}
			}
		}
	}
}
@media screen and (max-width:767px){
	section.our-products-section{
	.container{
		>.span12{
			>.hs_cos_wrapper_widget_container{
				display:flex;
				flex-wrap:wrap;
				justify-content:space-between;
				>div{
					width:100%;
					max-width:100%;
					margin-bottom:40px;
					}
				}
			}
		}
	}
}
@media screen and (max-width:540px){
	section.our-products-section{
	.container{
		>.span12{
			>.hs_cos_wrapper_widget_container{
				>div{
						section.product-section{
							a{
								h3{
									padding-right:60px;
								}
							}
						}
					}
				}
			}
		}
	}
}
