.product-details {
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 300px;

	&__image {

		img {
			display: block;
    		margin: 0 auto;
    		width: auto;
    		height: auto;
		}
	}

	&__pointers {

	}

	&__description {
	    position: absolute;
	    margin-top: -15px;
	    width: 450px;
	    text-align: left;

	    h5 {
	    	display: inline-block;
		    font-family: "GillSans";
		    font-size: 18px;
		    font-weight: normal;
		    line-height: 1;
		    text-transform: uppercase;
		    color: #000;
		    margin: 0 0 20px;
		    background: #fff;
		    padding: 0 10px;
	    }
	}

	&__rich-text {
		padding: 0px; /*0 10px;*/

		ul {
			padding-left: 25px;
    		list-style: none;

    		li {
    			font-family: "GillSans"; /*"ebgaramond12";*/
    			font-size: 16px;
    			position: relative;

    			&:before {
    				position: absolute;
				    font-size: inherit;
				    content: "\25CF";
				    color: #ffc400;
				    top: 0;
				    left: -25px;
				    width: auto;
				    height: auto;
				    background-image: none;
				    -webkit-transform: translateY(0);
				    -moz-transform: translateY(0);
				    -ms-transform: translateY(0);
				    -o-transform: translateY(0);
				    transform: translateY(0%);
    			}
    			strong{
    				font-weight: 500;
    			}
    		}
		}
	}
}