section.reasons-section{
	padding:72px 0;
	background-size:cover;
	background-repeat:no-repeat;
	position:relative;
	.mask{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-color: rgba(0,0,0,0.54);
	}
	h2{
		color:#fff;
		font-size:40px;
		text-transform:none;
		font-weight:400;
		margin-bottom:44px;
		margin-top:0px;
		text-align:center;
	}
	.container{
		position:relative;
		z-index:1;
		>.span12{
			float:none;
			margin-left:0;
			>.hs_cos_wrapper_widget_container{
				display:flex;
				flex-wrap:wrap;
				justify-content:space-between;
				>div:nth-of-type(odd){
					width:541px;
					max-width:50%;
					section.reason-section{
						display:flex;
						flex-direction: row-reverse;
						margin-bottom:25px;
						.icon{
							width:90px;
							height:90px;
							min-width:90px;
							background-color:#ffc400;
							border-radius:50%;
							display:flex;
							justify-content:center;
							align-items:center;
							margin-left:25px;
							img{
								max-width:80px;
							}
						}
						.content{
							text-align:right;
							color:#fff;
							font-weight:400;
							font-size:20px;
							h4{
								color:#fff;
								margin-top:10px;
								font-size:20px;
								text-transform:upppercase;
								font-weight:400;
								text-align:right;
							}
							p{
								margin-top:0px;
							}
						}
					}
				}
				>div:nth-of-type(even){
					width:541px;
					max-width:50%;
					section.reason-section{
						display:flex;
						margin-bottom:25px;

						.icon{
							width:90px;
							height:90px;
							min-width:90px;
							background-color:#ffc400;
							border-radius:50%;
							display:flex;
							justify-content:center;
							align-items:center;
							margin-right:25px;

							img{
								max-width:80px;
							}
						}
						.content{
							text-align:left;
							color:#fff;
							font-weight:400;
							font-size:20px;
							p{
								margin-top:0px;
							}

							h4{
								color:#fff;
								font-size:20px;
								text-transform:upppercase;
								font-weight:400;
								margin-top:10px;
								text-align:left;
							}
						}
					}
				}
			}

		}
	}
}

@media screen and (max-width:1140px){
	section.reasons-section{
		.container{
			>.span12{
				>.hs_cos_wrapper_widget_container{
					>div{
						&:nth-of-type(odd){
							max-width:100%;
							width:100%;
							section.reason-section{
								flex-direction:row;
								.icon{
									margin-left:0px;
								    margin-right: 25px;
								}
								.content{
									text-align:left;
									h4{
										text-align:left;
									}
								}
							}
						}
						&:nth-of-type(even){
							max-width:100%;
							width:100%;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width:540px){
	section.reasons-section{
		.container{
			>.span12{
				>.hs_cos_wrapper_widget_container{
					>div{
						&:nth-of-type(odd){
							max-width:100%;
							width:100%;
							section.reason-section{
								flex-direction:column;
								justify-content:center;
								align-items:center;
								.icon{
									margin-left:0px;
								    margin-right: 0px;
								}
								.content{
									text-align:center;
									h4{
										text-align:center;
									}
								}
							}
						}
						&:nth-of-type(even){
							max-width:100%;
							width:100%;
							section.reason-section{
								flex-direction:column;
								justify-content:center;
								align-items:center;
								.icon{
									text-align:center;
									margin-left:0px;
								    margin-right: 0px;
								}
															.content{
									text-align:center;
									h4{
										text-align:center;
									}
								}
						}
						}
					}
				}
			}
		}
	}
}