.stringo-accordion {
	margin-bottom: 5px;

	div[id] {
		box-shadow: 2px 2px 2px rgba(100,100,100,.2);
	}

	&__filter-button {
		font-family: "GillSans";
		font-size: 20px;
		line-height: 1;
		font-weight: normal;
		background-color: #fff;
		color: #000;
		border: 0;
		width: 145px;
		padding: 15px 0;
		margin: 20px 5px 20px 0px;
		text-transform: uppercase;
		border: 2px solid #fff;
		border-radius: 3px;

		transition: all .3s linear;

		&.active {
			border: 2px solid #ffc400;
			background-color: #ffc400;
			color: #fff;
		}

		&:hover {
			border: 2px solid #ffc400;
		}
	}

	&__header {
		font-family: "GillSans";
		font-weight: normal;
		display: flex;
		align-items: center;
		position: relative;
		width: 100%;
		height: 80px;
		padding-left: 50px;
		padding-right: 50px;
		background-color: #ffc400;
		color: #fff;
		font-size: 20px;
		line-height: 1;
		box-shadow: 2px 2px 2px rgba(100,100,100,.2);
		text-decoration: none;
		z-index: 1;

		transition: all .5s linear;

		&.collapsed {
			background-color: #e9e9e9;
			color: #2b2a2b;
			box-shadow: 2px 2px 2px rgba(100,100,100,0);
			transition: all .5s linear;

			&:hover, &:focus, &:active {
				color: #2b2a2b;
			}

			.stringo-accordion__angle-right {
				transform: rotate(0);
				color: #ffc400;
			}

		}

		&:hover, &:focus, &:active {
			text-decoration: none;
			color: #fff;
		}
	}

	&__angle-right {
		color: #fff;
		font-size: 36px;
		margin-left: auto;
		margin-right: -20px;
		transform: rotate(90deg);
		transition: all .2s linear;
	}

	.collapse {
	  display: none;
	  &.in {
	  	display: block;
	  }
	}

	.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: .35s;
    transition-property: height,visibility;

	}


	/* non sass to override styles */
	.stringo-accordion__body {
		margin: 0;
	}

	&__body {
		background-color: #fcfcfc;
		padding: 30px 50px; 
		
		p {
			margin: 0;
			> span{
				display: block;
			}
			> strong{
				display: block;
			}
		}
		> span{
				display: block;
			}
		> strong{
			display: block;
		}
}


}

.widget-span.location {
	//display: none;

	&.active {
	//	display: block;
	}
}

@media (max-width: 767px) {
	.stringo-accordion {

		&__filter-container {
			text-align: center;
		}
	}
}