section.testimonial-module{
	padding:72px 0;
	background-size:cover;
	background-repeat:no-repeat;
	position:relative;
	min-height:234px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	.container{
		width:100%;
		max-width:1006px;
		margin-left:15px;
		margin-right:15px;
	}
	.mask{
		background-color:rgba(0,0,0,0.34);
	}
	.content-wrapper{
		position:relative;
		z-index:1;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		h2{
			min-width:70%;
			color:#fff;
			font-size:40px;
			text-transform:none;
			font-weight:400;
			margin-bottom:40px;
			margin-top:0px;
			text-align:center;
		}
		div{
			&.testimonial-content{
				font-size:20px;
				font-weight:400;
				color:#fff;
				text-align:center;
				margin-bottom:26px;
				width:100%;
				>p{
					margin-top:0px;
					&:last-of-type{
						margin-bottom:0px;
					}
				}
			}
			&.testimonial-by{
				font-size:20px;
				font-weight:400;
				color:#fff;
				margin-bottom:10px;
				margin-bottom:56px;
				font-family:"GillSans"; /*"ebgaramond12";*/
				span.testimonial-position{
					color:#ffc20f;
				}		
			}
			&.testimonial-readmore{
				.cta_button{
					margin-top:0!important;
				}
			}
		}
	}
}
