.lead-section {

    &__product-img img {
        display: block;
        margin: auto;
    }

    .icon-box-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        float: left;
    }

    .icon-box {
        width: 30%;
        margin: 15px auto;
        text-align: center;
        float: left;

        img {
            max-width: 100%;
            margin: 10px auto;
        }
        figcaption {
            font-family: "GillSans";
            font-size: 20px;
            color: #000;
            margin-top: 15px;
        }
    }
}

@media screen and (max-width: 500px) {
    .lead-section .icon-box {
        width: 100%;
    }
}