
section.video-banner{
    min-height: 482px;
    width: 100%;
    position:relative;
    background-size:cover;
    background-position:center center;
    background-color: #ffc400;
    .play-button{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        cursor:pointer;
        img{
            display: block;
            margin: 0 auto;
        }
        span{
            display: block;
            color:#fff;
            font-family: "Gill Sans";
            margin: 10px auto;
            text-align: center;
        }
    }
    .popup-wrapper{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:9999;
        background-color:rgba(0,0,0,0.9);
        display: flex;
        justify-content:center;
        align-items:center;
    }
}
