.homepage{


	.portfolio{
		background-color: #ffc400;
		width: 100%;
		padding-bottom: 8px;
		.row-fluid .span3 {
	        width: 25%;
	        margin: 0px;
    	}
		h2{
				font-size: 34px;
				margin: 45px 0px 45px 0px;
		        color: #fff;
	 	}
	 	.button{
			margin: 38px 0px 38px 0px;
			width: 100%;
			padding-bottom: 8px;
			&:hover{
				background-color: #fff;
				color:#ffc400;
		 	}
 		}
	 	.boxes{
			width: 100%;
			padding-bottom: 8px;
			a.box{
	 			width: 100%;
				height: 254px;
				display: block;
				background-size: cover;
	    		background-position: center;
	    		position: relative;
	    		overflow: hidden;
			.shadow{
				background-color: #313131;
				opacity: 0;
				height: 100%;
				width: 100%;
				-webkit-transition: all 0.3s linear;
				-o-transition: all 0.3s linear;
				transition: all 0.3s linear;
		 		}
			h3{
				position: absolute;
				top: 300px;
				bottom: 0px;
				left: 0px;
				right: 0px;
				margin: auto;
				height: 40px;
				text-align: center;
				color:#fff;
				font-size: 29px;
				font-weight: 700;
				-webkit-transition: all 0.3s linear;
	    		-o-transition: all 0.3s linear;
	    		transition: all 0.3s linear;
	 			} 			 		
 		   		&:hover{ 
	    			.shadow{
					opacity: 0.63;
					-webkit-transition: all 0.3s linear;
		    		-o-transition: all 0.3s linear;
		    		transition: all 0.3s linear;
 					}
 					h3{
						top:0px;
						-webkit-transition: all 0.3s linear;
			    		-o-transition: all 0.3s linear;
			    		transition: all 0.3s linear;
			 		}
	 			}

	 		}
 		}
 	}
	.product-cta{
	    width: 100%;
	    height: 100%;
	    background-size: cover;
	    overflow: hidden;
	    .product {
			.container.position{
	        	position:relative;
			}
			.row-fluid{
 			   display:flex;
 			   .span5{
				    position:relative;
				    img{
					    position:absolute;
					    bottom:0;
					    left:50%;
					    transform:translateX(-50%);
					}
				}
			}
			h2{
				text-align: left;
				font-weight: normal;
				font-size: 36px;
				margin: 78px 0px 60px 0px;
		        color: #fff;
			}
			.text{
				font-weight: 300;
				max-width: 550px;
				font-size: 16px;
				color:#fff;
				margin-bottom: 65px;
			}
			a.button{
				display: inline-block;
				margin-bottom: 85px;
			}
	    }
	}


	.contact{
		background-size: cover;
	    background-position: center;
	    padding-bottom: 75px;
		.widget-type-form .form-title{
		    text-transform:uppercase;
		}
		h2{
			font-size: 33px;
			font-weight: bold;
			text-align: left;
			margin:65px 0px 25px 0px;
			color: #ffc400;
		}
		.text{
			padding:0px 10px 25px 0px;
			border-bottom: solid 1px #fff;
			color:#fff;
	        font-weight: 300;
	        font-size: 22px;
			&.second{
				font-size: 22px;
				&.last{
					border:none;
				}
			}
		}
	}	
	.skills{
	 	background-color: #ffc400;
		h2{
	 		margin:30px 0px 50px 0px;
	        color: #fff;
	 	}
		canvas{
			display:block;
			margin:auto;
		}
		h3{
			color:#fff;
			font-weight: normal;
			font-size: 25px;
			margin: 35px 0px 55px 0px;
			text-align: center;
		}
		.loader4,
		.loader3,
		.loader2,
		.loader1{
			max-width:200px;
			height:auto;
		}
		.circle{
	        display:none;
	    }
	}
}