/*============================*\
	GENERAL
\*============================*/
$base-color: $mainColor;




/*============================*\
	#SECTION-SQUARE-BOXES
\*============================*/
.square-boxes-section {
	position: relative;
	width: 100%;
	float: left;
	margin-top: -200px;

	.hs_cos_wrapper_widget_container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: stretch;
	}

	.hs_cos_wrapper_type_custom_widget {
		width: 25%;
		max-width: 400px;

		&:nth-child(1) {
			border-radius: 4px;
			background: $base-color;
			.square-box {
				background: $base-color;
			}
		}
		&:nth-child(2) {
			border-radius: 5px;
			//te kolory maja tak zostac, wyliczone z http://razorjam.github.io/sasscolourfunctioncalculator/
			background: lighten(adjust-hue($base-color, -3.2605), 14.3137);
			.square-box {
				background: lighten(adjust-hue($base-color, -3.2605), 14.3137);
			}
		}
		&:nth-child(3) {
			border-radius: 5px;
			background: lighten(adjust-hue($base-color, -3.0502), 18.0392);

			.square-box {
				background: lighten(adjust-hue($base-color, -3.0502), 18.0392);
			}
		}
		&:nth-child(4) {
			border-radius: 5px;
			background: lighten(adjust-hue($base-color, -2.9670), 21.3725);
			.square-box {
				background: lighten(adjust-hue($base-color, -2.9670), 21.3725);

			}
		}
	}
}





/*============================*\
	#SECTION-LEAD
\*============================*/
.lead-section {
	&__image {
		position: relative;
		
		img {
			border-radius: 4px;
			width: 100%;
			box-shadow: 30px 30px 0 $base-color;
		}
	}
}





/*============================*\
	#SECTION-FEATURES-MOCUP
\*============================*/
.features-mocup-section {
	position: relative;
	width: 100%;
	float: left;
	padding-top: 70px;
	padding-bottom: 70px;
	background: $base-color;
}





/*============================*\
	#SECTION-PRICING-TABLES
\*============================*/
.pricing-tables-section {
	position: relative;
	width: 100%;
	float: left;
	padding-top: 50px;
	padding-bottom: 160px;

	.pricing-box__container {
		padding-top: 40px;
		padding-bottom: 0;
	}
}



@media (max-width : 991px) {
    .square-boxes-section {
		margin-top: 50px;
		top: 0;

		.hs_cos_wrapper_type_custom_widget {
			width: 50%;

		}
	}
}



@media (max-width : 761px) {
	.square-boxes-section {

		.hs_cos_wrapper_widget_container {
			display: block;
		}

		.hs_cos_wrapper_type_custom_widget {
			width: 100%;
			margin: auto;
		}
	}

}