.meet-the-team {
    h2 {
        font-size: 40px;
        font-family: $font_family;
        color: $secondaryTextColor;
        line-height: 0.6;
        text-align: center;
        font-weight: 300;
        span {
            color: $mainColor;
        }
        text-transform: none;
    }
    .people-wrapper {
    	margin: 7px 0 73px 0;
    	.hs_cos_wrapper_type_rich_text {
        	font-size:20px;
        	font-weight: 300;
        	color: $secondaryTextColor;
        	p, span {
        		@extend .hs_cos_wrapper_type_rich_text;
        }
    }
    }
    .description {
    	margin-bottom: 53px;
    }
}