.one-colum-basic{
	.widget-type-rich_text{
		h2{
			margin-top:10px;
		}	
		&--last{
			p{
				&:last-child{
					margin-bottom: 42px;
				}
			}
		}
	}
	.img-wrap-basic{
		padding-right: 30px;
		@media only screen and (max-width : 480px) {
			padding-right: 15px;
		}
		img{
			box-shadow: 30px 30px 0px $mainColor;
		   	margin-top: 30px;
		   	margin-bottom: 72px; 	
		   	@media only screen and (max-width : 480px) {
				box-shadow: 15px 15px 0px $mainColor;
				margin-top: 10px;
		    	margin-bottom: 39px;
			}
		}
	}

}

