.hero-banner {
	height: 500px;
	background-size: cover;
	display: flex;
	justfiy-content: center;
	align-items: center;
	text-align: center;
	color: white;
	margin-top: 70px;
	h2 {
		color: white;
		font-size: 58px;
		font-weight: 300;
		text-align: center !important;
		text-transform: uppercase;
	}

	p {
		font-size: 23px;
	}
}

.pricing-section-header {
	text-align: center;
	h3 {
		color: $secondaryTextColor;
		font-weight: 300;
		font-size: 40px;
		padding-top: 70px;
	}
}
.pricing-main-section {
	background: white url('http://cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/pricing-container-background.png') center bottom no-repeat;
}

