section.hero-banner{
    h1{
        strong{
            color:#ffc400;
        }
    }
}
.pricing-section-header{
    .widget-type-rich_text{
        text-align:center;
    }
}
section.pricing-box__container.center-big{
        .pricing-box{
            &:nth-of-type(2){
                transform:scale(1.13);
                transition:0.3s linear all;
                background-color:#ffc400;
                .pricing-box__title{
                    color:#fff;
                    border-bottom-color:#fff;
                    transition:0.3s linear all;
                }
                .pricing-box__starting-at{
                    color:#fff;
                    transition:0.3s linear all;
                }
                .pricing-box__price{
                    color:#fff;
                    transition:0.3s linear all;
                }
                .pricing-box__features{
                    .pricing-box__feature-text{
                        border-bottom-color:#fff;
                        color:#fff;
                        transition:0.3s linear all;
                        .pricing-box__feature-text--bold{
                            color:#fff;
                            transition:0.3s linear all;
                        }
                    }
                }
                a{
                    &.pricing-box__order{
                        background-color:#fff;
                        color:#ffc400;
                        border-color:#ffc400;
                        &:hover{
                            color:#fff;
                            background-color:#ffc400;
                        }
                    }
                }                
            }
            .pricing-box__feature-text{
                color:#2b2a2b;
            }
        }
}
section.question{
    padding:95px 0;
    float: left;
    width: 100%;
}
.brands-slider{
    &.pricing{
        margin-bottom: 0;
        .slick-prev + .slick-list{
            display:block;                
        }
        .slick-list{
            width:100%;
            display: flex;
            justify-content: center;
        }
    }
}

