.hero-banner--big {
	height: 700px;
	font-weight: 300;
	position: relative;
	h2 {
		font-weight: 400;
	}
	@media screen and (max-width: 400px) {
		height: calc(100vh - 70px);
		h2 {
			font-size: 51px;
		}
		p {
			text-align: center;
		}
	}
}