.services-main{
	height: 800px;
	background-size: cover;
	background-position: center;
    background-attachment: fixed;
    position: relative;
}
	.services-main h1{
		margin-top: 360px;
		font-size: 58px;
		font-weight: bold;
        color: #fff;
	}
	.services-main p{
		font-size: 20px;
		font-weight: 300;
		text-align: center;
		margin-top: 20px;
		color:#fff;
		letter-spacing: 2px;
	}
.process{
	padding-bottom: 95px;
}
	.process h2{
		font-size: 36px;
		color:#ffc400;
		margin-top: 37px;
		margin-bottom: 57px;
	}
    .process-line{
        background-image: url(http://cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/line.png);
        width: 63%;
        height: 1px;
        position: relative;
        top: 40px;
        margin: auto;
    }
	.process .circle{
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: solid 2px #ffc400;
		line-height: 90px;
		text-align: center;
		margin:auto;
		margin-bottom: 20px;
        position: relative;
        z-index: 1;
        background-color: #fff;
	}
    .process .circle .fa-life-ring{
        width: 39px;
        line-height: 77px;
    }
		.process .circle i{
			color:#ffc400;
			font-size: 38px;
		}
	.process h3{
		margin-left: 70px;
		font-size: 20px;
		font-weight: 400;
		color: #ffc400;
	}
		.process h3 span{
			font-size: 47px;
		}
	.process p{
		margin-left: 100px;
		font-size: 16px;
		font-weight: 300;
		color:#2b2a2b;
	}
	.expertise{
	position: relative;
	background-color: #ffc400;
}
.expertise .change-display > .row-fluid-wrapper > .row-fluid{
    display: -webkit-box;
    display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
	.expertise h2{
		margin-top: 20px;
		margin-bottom: 50px;
        color: #fff;
	}
.expertise .col-sm-4{
	position: relative;
}
.expertise .bg:before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    width: 230%;
    height: 100%;
    right: 0px;
    background-size: cover;
}
.flex{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.expertise .ico{
	margin-bottom: 25px;
}
	.expertise .ico i{
		font-size: 39px;
		color:#fff;
	}
.expertise {

}
	.expertise .text h3{
		font-size: 20px;
		font-weight: normal;
		margin-bottom: 10px;
		color: #fff;
        margin-top: 0px;

	}
		.expertise .text p{
			font-weight: normal;
			color: #fff;
			font-size: 16px;
			margin-bottom: 60px;
		}

		#counter{
	background-size: cover;
	background-position: center;
}
#counter{
	.container{
		display: flex;
	    align-items: center;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: space-around;
	    align-content: initial;
	        padding-top: 30px;
		.counter-box{
			padding-bottom:40px;
			width:25%;
		}
	}
}
@media screen and (max-width:992px){
	.pricing-box__container.pricing-box__4-col{
			display:flex;
			flex-wrap:wrap;
			.pricing-box{
				width: 42%;
				flex-basis:42%;
				margin-bottom:50px;
			}
	}
	
}
@media screen and (max-width:767px){
	.pricing-box__container.pricing-box__4-col{
			display:flex;
			flex-wrap:wrap;
			.pricing-box{
				width: 100%;
				margin:0 15px;
				max-width:300px;
				flex-basis:100%;
				margin-bottom:50px;
			}
	}
	#counter{
	.container{
		.counter-box{
			
			width:50%;
		}
	}
	}

}
@media screen and (max-width:450px){
	#counter{
	.container{
		.counter-box{
			
			width:100%;
		}
	}
	}

}

	#counter .counter-box{
		text-align: center;
	}

	#counter .counter-box h3{
		font-size: 20px;
		color: #ffc400;
		margin: 10px 0px;
		color: #ffc400;
	}
	#counter .counter-box div{
		font-size: 73px;
		color:#fff;
		line-height: 42px;
	}