.thank-you-page {
	.content-landing {
		margin: 5px 0 58px;
	}
	h3 {
		letter-spacing: 0.04em;
		font-weight: 300;
		text-align: left;
		text-transform: none;
		font-size: 40px;
		margin-bottom: 27px;
        margin-top: 0px;
        color: #2b2a2b;
		span {
			   
		}
	}
     .thank-you-content .left-section {
        padding-right: 23px;
        @media (max-width: 767px) {
            padding-right: 0px;
        }
    }
    .thank-you-content .post-listing {
        @media (max-width: 767px) {
            margin-top: 30px;
        }
    }
    .thank-you-content .post-listing ul {
        margin: -5px 0 0 0;
        padding: 0;
        list-style: none;
    }
    .thank-you-content .post-listing > .span6{
    	padding-left: 23px;
    	@media (max-width: 767px) {
    		padding-left: 0;
    	}
    }
    .left-column > .span6 {
    	padding-right: 23px;
    	@media (max-width: 767px) {
    		padding-right: 0;
    	}
    }
    .thank-you-content .post-listing ul li {
    	position: relative;
    	margin-left: 20px;
    	margin-bottom: 10px;
        padding-left: 10px;
    	&:before {
    		position: absolute;
			content: ">>";
			left: -20px;
			top:8px;
            font-size: 16px;
            font-weight: 400;
    	}
    }
    .thank-you-content .post-listing ul li a {
    	font-size: 18px;
        text-decoration: none;
        padding: 6px 0;
        outline: 0;
        display: block;
        font-weight: 400;
        transition: 0.3s;
        color: #2b2a2b;
        font-weight: 200;
        &:hover {
        	color: #ffc400;      
        }
    }
    .thank-you-content .left-column p {
        font-size: 20px;
        line-height: 30px;
        margin: 0;
    }
    .thank-you-content .hs-cta-wrapper {
        margin: 40px 0 48px;
        display: block;
    }
    .thank-you-content .social-share {
        margin-top: 40px;
    }
    .thank-you-content .cta-primary{
        padding: 21px 62px;
    }
	hr {
		border-top: #e1e1e1;
	}
     .social {
     	margin-top: 18px;
        float: left;
        width: 100%;
        .social-main-icon {
            float: left;
            height: 45px;
            width: 45px;
            background-color: #ffc400;
            margin-top: 7px;
            i {
                font-size: 21px;
                margin-left: 13px;
                margin-top: 12px;
                color: #FFF;
            }
        }
        ul {
            padding-left: 18px;
            width: calc(100% - 45px);
            float: left;
            @media(max-width: 335px) {
            	padding-left: 5px;
            }
            li {
                height: 44px;
                width: 40px;
                list-style: none;
                display: inline-block;
                a {
                    padding-top: 4px;
                    display: block;
                    width: 100%;
                    height: 43px;
                    color: #d7d7d7;
                    font-size: 25px;
                    text-align: center;
                    transition: 0.3s;
                    &:hover {
                        color: #ffc400;
                    }
                }
            }
        }
    }
}
