
@media only screen and (max-width : 768px) {
	
	.row-fluid .span4.flex-item1{ 
		padding-left: 20px;
		order: 3; 
		-webkit-order: 3;
		width: 100%;
		margin-bottom: 30px;
		.left-sidebar {
	    width: 100%;
	    margin-left: 0px;
		
			.subscribe-three-column{
				display: none;

			}
			.recent-post-three-column{
				width: 100%;
				border-bottom: solid 1px #ebebeb;
				border-top: solid 1px #ebebeb;
				h3{
					margin-top: 20px;
					padding-bottom: 25px;
				}

			}
		}
	}
	.row-fluid .span4.flex-item2{ 
		width: 100%;
		order: 1; 
		-webkit-order: 1;
		margin-left: 0;
		.center-three-column-equal{
			border: none;
			border-bottom: solid 1px #ebebeb;
			padding-left: 0px;
			padding-right: 0px;
			padding-bottom: 25px;
		}
	}
	.row-fluid .span4.flex-item3{
		margin-left: 0;
		order: 2; 
		-webkit-order: 2;
		width: 100%;
		border-right: none;
		border-top:none;
		margin-bottom: 30px;
		.right-sidebar-equal{
			padding: 0px 10px;
			max-width: 100%;
		}
		
	}
	.right-sidebar-equal{
		.sidebar-item{
			border-top: none;
			border-bottom: none;
		}
	}
}
@media only screen and (max-width : 1024px) {

	.row-fluid .span4.flex-item1{ 
		padding-left: 20px;
		order: 3;
		-webkit-order: 3; 
		width: 50%;
		margin-bottom: 30px;
		.subscribe-three-column{
			display: none;
		}
		.recent-post-three-column{
			border-top: none;
			padding-top: 0px;
			h3{
				margin-top: 20px;
				padding-bottom: 25px;
			}

		}

	}
	.row-fluid .span4.flex-item2{ 
		width: 100%;
		order: 1; 
		-webkit-order: 1;
		margin-left: 0;

		.center-three-column-equal{
			border: none;
			border-bottom: solid 1px #ebebeb;
			padding-left: 0px;
			padding-right: 0px;
			padding-bottom: 25px;
		}
	}
	.row-fluid .span4.flex-item3{
		margin-left: 0px;
		order: 2; 
		-webkit-order: 2;
		width: 50%;
		border-right: solid 1px #ebebeb;
		margin-bottom: 30px;
		.right-sidebar-equal{
			padding: 0px 10px;
			max-width: 100%;
		}
		
	}
	
}

.flex-wrap .row-fluid{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.cta-center-wrap{
		max-width: 100%;
		margin: 0 auto;
		}		
.subscribe-three-column {
	padding-top: 0px;
	padding-bottom: 30px;
	
	h3.form-title{
		font-size: 23px;
		color: #2b2a2b;
		font-weight: 300;
		margin: 0;
		padding-top: 20px;
	}
	ul{
		margin-top: 5px;
		list-style: none;

	}
	input[type="submit"]{
		width: 137px;
		height: 43px;
		background: #ffc400;
		border: none;
		border-radius: 5px;
		color: #fff;
		margin-top: 23px;
	}
	input[type="email"]{
		border: none;
		border-bottom: 2px solid $mainColor;
		font-size: 16px;
		font-weight: 300;
		color: #2b2a2b;
	}

}
.recent-post-three-column{
	border-top: solid 1px #ebebeb;
	border-bottom: solid 1px #ebebeb;
   	padding-bottom:  5px;
   	margin-bottom:  38px;
	ul{
		list-style: none;
		li{
			padding-bottom: 25px;
			a{ 
				color:$secondaryTextColor; 
				cursor: pointer;

				&:before{
					content: '>>';
					padding-right: 5px;
				}
				&:hover{
					color: $mainColor;
				}
			}
		}
	}
	h3{
		font-size: 23px;
		color: $secondaryTextColor;
		font-weight: 400;
		margin: 0;
		margin-top: 30px;
		padding-bottom: 25px;
	
	}
}
.center-three-column-equal{ 
	padding: 0px 0px;
	margin: 20px 0px;

	.img-wrap-basic{
		padding-right: 20px;
		margin: 0 auto;
		img{
			box-shadow: 20px 20px 0px $mainColor;
	    	margin-top: 14px;
	    	margin-bottom: 54px;
	    	box-sizing: border-box;
		}
	}
}

.right-sidebar-equal{
	padding-top: 30px;
	max-width: 100%;
	.sidebar-item{
		
		margin-bottom: 25px;
		border-bottom: solid 1px #f7f7f7;
	
		h3{
			font-size: 23px;
			color: #2b2a2b;
			text-align: left;
			text-transform: none;
			font-weight: 300;	
		}
		p{
			font-size:20px;
			color: #2b2a2b;
			font-weight: 300;
		}
	}
}