@media only screen and (max-width : 768px) {
	.three-columns{
	    border: none;
	    padding-top: 0px;
	}
	
	.sidebar-item{
		border-top: solid 1px #f6f6f6;
	}
	.sidebar-submenu.three-columns {
		
    width: 100%;
}
}

