@media only screen and (max-width : 768px) {
.sidebar-submenu{
    border-bottom: solid 1px #f6f6f6;
    border-top: solid 1px #f6f6f6;
    padding-top: 25px;
}

}

.sidebar-submenu{
    border-bottom: solid 1px #f6f6f6;
    margin-top: 10px;
}
.sidebar-submenu  .hs-menu-wrapper.hs-menu-flow-vertical li a {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: visible; 
    text-overflow: ellipsis;
    font-size: 16px;
}

.sidebar-submenu .hs-menu-wrapper.hs-menu-flow-vertical > ul li.hs-item-has-children ul.hs-menu-children-wrapper {
     visibility: visible; 
     opacity: 1; 
     /*-webkit-transition: height 1s ease;*/
     position: static; 
     top: 0;
     left: 0px;
     display: none;  
}

.sidebar-submenu .hs-menu-wrapper.hs-menu-flow-vertical > ul li.show-submenu > ul.hs-menu-children-wrapper {
     visibility: visible; 
     opacity: 1; 
    /*-webkit-transition: height 1s ease;*/
     position: static; 
     top: 0;
     left: 0px;
     /*display: block; */
 }
.sidebar-submenu li.hs-item-has-children > a:after
{
    content: '+';
    padding-left: 10px;
}
.sidebar-submenu li.show-submenu > a:after{
    content: '-';
    padding-left: 10px;
}
.sidebar-submenu ul li a{
    color: $secondaryTextColor;
}

.sidebar-submenu ul li a:hover, .sidebar-submenu li.show-submenu >a{
background:$mainColor;
color: #fff;
}

.sidebar-submenu ul li.show-submenu > ul.hs-menu-children-wrapper{
    border-left: solid 1px #ffe48a;
}
.sidebar-submenu ul li.hs-item-has-children > ul.hs-menu-children-wrapper li {
    border: none;
    position: relative;
}

.sidebar-submenu ul li.hs-item-has-children > ul.hs-menu-children-wrapper li a:hover{
    background: none;
    color: $secondaryTextColor;
}

.sidebar-submenu ul li.hs-item-has-children > ul.hs-menu-children-wrapper li a:hover:before{
    content: "";
    display: block;
    background: #ffe48a;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    left: -4px;
    top:18px;

}



