
.two-column-left-content{ 
	border-right: solid 1px #f7f7f7;
	padding-right: 48px;
	margin: 0;
	margin-bottom: 20px; 
	@media only screen and (max-width : 767px) {
	border-right: none;
	padding-right: 20px;
	}
	.widget-type-rich_text{
		h2{
			margin-top:10px;
		}	
		&--last{
			p{
				&:last-child{
					margin-bottom: 22px;
				}
			}
		}
	}

	.img-wrap-basic{
		padding-right: 30px;
		@media only screen and (max-width : 480px) {
			padding-right: 15px;
		}
		img{
			box-shadow: 30px 30px 0px $mainColor;
		   	margin-top: 30px;
		   	margin-bottom: 72px; 	
		   	@media only screen and (max-width : 480px) {
				box-shadow: 15px 15px 0px $mainColor;
				margin-top: 10px;
		    	margin-bottom: 39px;
			}
		}
	}
}

.right-sidebar{
	padding-top: 0px;
	max-width: 292px;
	@media only screen and (max-width : 767px) {
	padding-top: 0px;
	max-width: 100%;
	
	}

	.sidebar-item{
		
		margin-bottom: 25px;
		border-bottom: solid 1px #f7f7f7;
		@media only screen and (max-width : 767px) {
			padding-top: 0px;
			max-width: 100%;
		}
	
		h3{
			font-size: 23px;
			color: #2b2a2b;
			text-align: left;
			text-transform: none;
			font-weight: 400;	
		}
		p{
			font-size:20px;
			color: #2b2a2b;
			font-weight: 200;
		}
	}
}









