.content-landing-event-clock{
        // RICH TEXT
        .widget-type-rich_text{
            padding-right: 50px;
            @media only screen and (max-width : 768px) {
                padding-right: 0px;
            }
            .hs_cos_wrapper{

                h2{
                    color:#2b2a2b;
                    font-size: 50px;
                    font-weight: 900;
                    line-height: 65px;
                    span{
                        color: #ffc400;
                        letter-spacing: 2px;
                    }
                }
                p{
                    padding-top: 30px;
                    font-weight: 200;
                }
            }
        }

        // FORM
        .form-landing-event-clock{
            background-color: #FFF;
            border-radius: 10px;
            box-shadow: -1px 2px 0px #f2f2f2;
            padding: 30px;
            position: relative;
            top: -140px;
            @media only screen and (max-width : 768px) {
                top:10px;
                box-shadow: none;
                padding: 15px;
            }
            h3{
                color:#2b2a2b;
                margin:0;
                padding: 0;
                font-size: 30px;
                text-align: center;
                letter-spacing: 1px;
                padding-bottom: 20px;
                &:after{
                    content: " ...";
                    color: #ffc400;
                    letter-spacing: 2px;
                }
            }
            form{
                background-color: #FFF;
                .input{
                    input{
                        border: 1px solid #d3d3d3;
                        border-radius: 5px;
                        margin:0;
                        margin-top: 21px;
                        height: 51px;
                        width: 100%;
                        color: #000;
                        padding-left: 15px;
                        &:focus{
                            border: 1px solid #ffc400;
                        }
                    }
                }
                ul{
                    padding-top: 0;
                    margin: 0;
                    li{
                    color: red;
                    font-size: 16px;
                    }
                }
               .hs_submit{
                    input[type="submit"]{
                    width: 100%;
                    border: solid 1px #ffc400;
                    margin: 0;
                    height: 57px;
                    text-transform: none;
                    margin-top: 31px;
                    &:hover{
                        border: solid 1px #ffc400;
                    }
                    }
                }
               
            }
    }
}
// FEATURED BOX
.featured-box-white-bg{
    margin-top: -70px;
    border-top: solid 1px #f7f7f7;
    padding: 40px 0;
    @media only screen and (max-width : 768px) {
                margin-top: 80px;
    }
    span{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .square-box{
            background-color: #fff;
            max-width: 380px;
            &__image-container{
                background-color: #ffc400;
                text-align: center;
                width: 102px;
                height: 102px;
                border-radius: 50%;
                margin: 0 auto;
                position: relative;
                img{
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    
                }
            }
            &__content{
                text-align: center;
                h4{
                    color: #ffc400;
                    text-transform: uppercase;
                    font-size: 24px;
                    padding-top: 20px;
                }
                p{
                    color: #2b2a2b;
                    font-size:20px;
                }
            }
        }
    }
}
// EVENT SPONSORS
.landing-event-sponsors{
    .widget-type-rich_text{
                
                h2{
                    color:#FFF;
                    font-size: 40px;
                    text-align: center;
                    margin-top:80px;
                    font-weight: 200;
                }
                p{
                    color:#FFF;
                    padding-top: 20px;
                    font-weight: 200;
                    display: block;
                    text-align: center;
                    width: 50%;
                    margin: 0 auto;
                
            }
        }
}
// PAST EVENT GALLERY

.past-event-gallery{
    .widget-type-rich_text{
            
        .hs_cos_wrapper{
            text-align: center;
            h2{
                color:#2b2a2b;
                font-size: 40px;
                font-weight: 200;
                text-align: center;
                margin-top: 84px;
                span{
                    color: #ffc400;
                    letter-spacing: 2px;
                }
            }
            p{
                display: block;
                text-align: center;
                width: 50%;
                padding: 0;
                margin: 50px auto;
                font-weight: 200;
            }
        }
    }
}

