.landing-brochure{
	.hero-banner{
		height: 510px;
		h1{
			word-break: break-word;
			@media (max-width: 435px){
				font-size: 40px;
			}
			span{
				@media (max-width: 435px){
					font-size: 40px;
				}	
			}
		}
	}
	.content-section{
		ul{
			margin: 10px 0px;
			li{
				font-size: 18px;
			}
		}
	}
	.right-section{
		.row-fluid{
			.hero-form{
				@media (max-width: 991px){
					margin-top: 0px;
				} 
				@media (max-width: 767px){
					margin-top: 80px;
				} 
			}
		}
	}
	
	
}



