// MOBILE -- MOVING FORM FROM HERO BANNER TO FORM CONTAINER UNDER BANNER !
.landing-basic-2 {
    .form-container { 
        margin: 25px 0;
        .hero-banner-form {
            z-index: 1;
            max-width: 430px;
            border-radius: 5px;
            background-color: #f4f4f4;
            padding: 0 30px;
            margin: 0 auto;
            h3 {
                font-family: 'Palanquin';
                font-weight: 600;
                font-size: 30px;
                line-height: 40px;
                color: #2b2a2b;
                text-align: center;
                &:after {
                  content: '...';
                  display: inline;
                  color: #ffc400;
                  margin-left: 2px;
                  position: relative;
                  letter-spacing: 2px;
                }
            }
            .hs-form-field {
                margin-bottom: 20px;
                box-shadow: none;
                .hs-form-required { 
                    display: none; 
                }
                .input {
                    input {
                        border: none;
                        border-radius: 4px;
                        background-color: #ffffff;
                    }    
                    .hs-input {
                        font-size:20px;
                        font-family: 'Palanquin';
                        font-weight: 200;
                        color: #2b2a2b;
                        height: 55px;
                        border: none;
                        &[id*="dropdown_example"] {
                            color: rgba(98,98,98,0.6);
                            background-color: #fff;
                        } 
                    }                    
                }
            }
            .hs-button.primary.large {
                cursor: pointer;
                background-color: #ffc400;
                border-radius: 4px;
                min-height: 27px;
                min-width: 134px;
                width: 100%;
                text-decoration: none;
                text-transform: uppercase;
                padding-top: 20px;
                padding-bottom: 20px;
                color: #ffffff;
                font: 300 22px / 22px Palanquin;
                transition: linear 0.3s all;
                border: none;              
                margin-bottom: 20px;
                &:hover {
                    background-color: #fff;
                    color: #ffc400;
                }
            }
        }
    }
    .hero-banner-wrap {
        @media (max-width: 767px) {
            width: 100%;
        }
    }
}