.landing-hero {
	div.body-container-wrapper {
		.row-fluid-wrapper.row-depth-1.row-number-4 {
		    background-color: #ffc400;
		    	.hs_cos_wrapper.hs_cos_wrapper_widget_container.hs_cos_wrapper_type_widget_container {
		    		display: flex;
		    		text-align: center;
		    		@media (max-width: 767px) {
		    			flex-wrap: wrap;
		    		}
		    	} 		    
    	}
    	.hero-landing-boxes {
    		.square-box {
    			padding: 80px 50px;
    			@media (max-width: 767px) {
    				padding: 20px 25px;
    			}
    			.square-box__image {
    				max-height: 100px;
    			}
    			.square-box__content {
    				h4 {
    					text-transform: uppercase;
    				}
    			}
    		}
    	}
    	.lead-wrapper {
    		>.container {
    			>.span12.widget-span.widget-type-cell {
    				padding: 60px 0;
    				> .row-fluid-wrapper.row-depth-1.row-number-8 {
    					>.row-fluid {
    						display: flex;
    						@media (max-width: 767px){
    							flex-wrap: wrap;
    							.lead-image {
    								margin: 25px;
    							}
    							.lead-content {
    								margin: 25px;
    							}
    						}
    						.lead-image {
    							img {
    								display: block;
    								margin: 0 auto;
    								box-shadow: 20px 20px #ffc400;
    							}
    						}
    						.lead-content {
    							h2 {
    								text-align: left;
    								text-transform: none;
    								color: #2b2a2b;
    								font-size: 40px;
    								line-height: 50px;
    								font-weight: 300;
    								span {
    									letter-spacing: 2px;
    								}
    							}
    							p {
    								color: #2b2a2b;
    								font-size:20px;
    								line-height: 24px;
    								font-weight: 300;
    							}
    						}
    					}
    				} 
    			}
    		}
    	}
    	.form-container {
    		 .hero-banner-form {
		        z-index: 1;
		        max-width: 430px;
		        border-radius: 5px;
		        background-color: #f4f4f4;
		        padding: 0 30px;
		        margin: 0 auto;
		        h3 {
		            font-family: 'Palanquin';
		            font-weight: 600;
		            font-size: 30px;
		            line-height: 40px;
		            color: #2b2a2b;
		            text-align: center;
		        }
		        .hs-form-field {
		            margin-bottom: 20px;
		            box-shadow: none;
		            .hs-form-required { display: none; }

		            .input {
		                input {
		                    border: none;
		                    border-radius: 4px;
		                    background-color: #ffffff;
		                }    
		                .hs-input {
		                    font-size:20px;
		                    font-family: 'Palanquin';
		                    font-weight: 200;
		                    color: #2b2a2b;
		                    height: 55px;
		                    border: none;
		                    &[id*="dropdown_example"] {
		                        color: rgba(98,98,98,0.6);
		                        background-color: #fff;
		                    } 
		                }                    
		            }
		        }
		        .hs-button.primary.large {
		            cursor: pointer;
		            background-color: #ffc400;
		            border-radius: 4px;
		            min-height: 27px;
		            min-width: 134px;
		            width: 100%;
		            text-decoration: none;
		            text-transform: uppercase;
		            padding-top: 20px;
		            padding-bottom: 20px;
		            color: #ffffff;
		            font: 300 22px / 22px Palanquin;
		            transition: linear 0.3s all;
		            border: none;              
		            margin-bottom: 20px;
		            &:hover {
		                background-color: #fff;
		                color: #ffc400;
		            }
		        }
		    }
    	}    		
	}
}