/* HEADER STYLES */





/* HEADER STYLES END */

/* FOOTER STYLES */

.footer-container-wrapper {
    border: none;
    padding: 0;
    .footer {
        
        &--landing{
        min-height: 220px;
        background-color: #4a4949;
        padding: 0;
        }
        .container {
            position: relative;
        }
        ul {
            text-align: center;
            overflow: auto;
            position: relative;
            left: 50%;
            margin-left:-100px;
            margin-top: 60px;
            max-width: 250px;
            li {
                list-style-type: none;
                float: left;
                a i {
                    background: #fff;
                    color: #4a4949;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    font-size: 25px;
                    text-align: center;
                    margin-right: 10px;
                    padding-top: 15%;
                }
            }
        }
        .footer-copyright {
            font-size:20px;
            font-weight: 200;
            font-family: 'Palanquin';
            color: #fff;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 80px;
        }
    }
}
/* STICKY FOOTER */

.body-container-wrapper {
    min-height: calc(100vh - 292px); /* Header + footer */
}

/* FOOTER STYLES ENDS */

.features-container { 
    margin: 25px 0;
    .hero-banner-form {
        z-index: 1;
        max-width: 430px;
        border-radius: 5px;
        background-color: #f4f4f4;
        padding: 0 30px;
        margin: 0 auto;
        .hs-error-msgs {
                list-style-type: none;
                margin-top: 5px;
                label {
                    font-size: 14px;
                }
            }
        h3 {
            font-family: 'Palanquin';
            font-weight: 600;
            font-size: 30px;
            line-height: 40px;
            color: #2b2a2b;
            text-align: center;
            &:after {
                content: '...';
                display: inline;
                color: $mainColor;
                margin-left: 2px;
                position: relative;
                letter-spacing: 2px;
            }
        }
        .hs-form-field {
            margin-bottom: 20px;
            box-shadow: none;
            .hs-form-required { display: none; }

            .input {
                input {
                    border: none;
                    border-radius: 4px;
                    background-color: #ffffff;
                }    
                .hs-input {
                    font-size:20px;
                    font-family: 'Palanquin';
                    font-weight: 200;
                    color: #2b2a2b;
                    height: 55px;
                    border: none;
                    &[id*="dropdown_example"] {
                        color: rgba(98,98,98,0.6);
                        background-color: #fff;
                    } 
                }                    
            }
        }
                    .hs_dropdown_example {
                background: white;
                border-radius: 4px;
                //padding: 0 6px 0 13px;
                position: relative;
                &:after {
                    position: absolute;
                    content: url('http://cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/dropdown_icon.png');
                    right: 25px;
                    top: 13px;
                    width: 7px;
                    height: 12px;
                }
            select {
                color: rgba(98,98,98,0.6);
                background-color: #fff;
                outline: none;
                -webkit-appearance: none;
               -moz-appearance: none;
               appearance: none;
               }
            } 

        .hs-button.primary.large {
            cursor: pointer;
            background-color: #ffc400;
            border-radius: 4px;
            min-height: 27px;
            min-width: 134px;
            width: 100%;
            text-decoration: none;
            text-transform: uppercase;
            padding-top: 20px;
            padding-bottom: 20px;
            color: #ffffff;
            font: 300 22px / 22px Palanquin;
            transition: linear 0.3s all;
            border: none;              
            margin-bottom: 20px;
            &:hover {
                background-color: #fff;
                color: #ffc400;
            }
        }
    }
}
.hs-error-msgs a {
    font-size: 14px;
    color: #2b2a2b;
}

.box-white-bg {
    padding: 25px;
    .square-box {
        max-width: 370px;
        background-color: transparent;
        padding: 0;
        h4 {
            text-transform: uppercase;
            color: #ffc400;
            font-size: 24px;
            font-weight: 300;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            color: #2b2a2b;
        }
    }
}

@media (max-width: 767px) {
    .square-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
    .features-form {
        .hs-cta-img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}



