.widget-type-rich_text {
	text-align: left;

	&--standard {
		
		h2 {
			font-size: 40px;
			color: #2b2a2b;
			text-align: left;
			text-transform: none;
			font-weight: 300;

			span {
				color: #ffc400;
			}
		}

		p {
			font-size:20px;
			color: #2b2a2b;
			font-weight: 200;
			
		}
		

	}
}



