    .page-404-body {
    	background-color: #fbfbfb;
    }
    .page-404 {
        display: none;
        margin-top: 210px;
        margin-bottom: 225px;
        font-family: Gill Sans;
        h1 {
            font-size: 123px;
            color: #ffc400;
            font-weight: 500;
            text-align: left;
            margin-bottom: 10px;
            letter-spacing: 15px;
        }
        h2 {
            font-size: 42px;
            color: #2b2a2b;
            font-weight: 500;
            text-align: left;
            margin-bottom: 33px;
            text-transform: initial;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            margin-top:0;
            font-weight: 400;
            span {
                letter-spacing: 3px;
                color: #ffc400;
            }
        }
        p {
            text-align: left;
            font-size: 20px;
            line-height: 25px;
            color: #626262;
            font-weight: 200;
            margin-bottom: 52px;
            margin-top: 42px;
            font-family: Gill Sans;
        }
        img {
            margin-top: 60px;
            max-width: none;
            @media (max-width: 767px) {
                margin-top:0;
            }
            @media (max-width: 450px) {
				width: 100%!important;
                height: 100%;
                margin: 0 auto;
            }
        }
        .widget-type-linked_image {
            text-align: center;
        }
        @media (max-width: 767px) {
            margin-top: 40px;
            margin-bottom: 125px;
        }
    }

