.about-us{
	.container-small{
		max-width:905px;
		margin: 0 auto;
		padding: 0 15px;
	}
	.hero-banner{
		height: 510px;
		h1{
			text-align: center;
			font-size:70px;
		}
		p{
			display: none;
		}
	}
	.text-main{
		margin: 75px 0px;
		h2{
			text-align: left;
			color: #2b2a2b;
			font-weight: 400;
			margin: 34px 0px 34px 0px;
			font-size: 40px;
			text-transform: none;

		}
		.first-heading h2{
			margin: 0px 0px 34px 0px;
		}
		p{
			margin: 0px 0px 40px 0px;
			&:last-child{
				margin:0;
			}
		}
		.widget-type-text span{
			color: #2b2a2b;
			font-size: 22px;
			line-height: 34px;
			text-transform: uppercase;
			border-left: 6px solid #ffc400;
			display: inline-block;
			padding-left: 40px;
			position: relative;
			margin: 35px 0px;
			&:before{
				content: "";
				background-image: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/img/cudzyslowie_03.png');
				display: inline-block;
				width: 17px;
				height: 15px;
				position: absolute;
				top: 0px;
				left: 17px;
			}
			&:after{
				content: "";
				background-image: url('https://cdn2.hubspot.net/hubfs/500293/Stringo/Assets/img/cudzyslowie_05.png');
				display: inline-block;
				width: 17px;
				height: 15px;
				position: absolute;
				bottom: 0px;
				margin-left: 5px;

			}
		}

	}
	.video-module{ 
		font-family: GillSans;
		background-color: red;
		video{
			//min-height: 482px;

		}
	&__play-button {
		top: 40%;
		width: 126px;
		height: 126px;
	}

	&__label {
		font-size: 26px;
		top: 140px;
	}

		

	}

}


