.backup-unsubscribe{
	background-color: #fbfbfb;
	.main-content{
		margin: 120px 0px;
		h1{
			font-size: 42px;
		    color: #2b2a2b;
		    font-weight: 500;
		    text-align: left;
		    margin-bottom: 33px;
		    text-transform: initial;
		    letter-spacing: 0.04em;
		    line-height: 48px;
		    margin-bottom: 20px;
		    text-transform: none!important;
		}
		h2{
			font-size: 22px;
		    color: #2b2a2b;
		    font-weight: 500;
		    text-align: left;
		    margin-bottom: 33px;
		    text-transform: initial;
		    letter-spacing: 0.04em;
		    text-transform: none!important;
		}
		p{
			text-align: left;
		    font-size: 16px;
		    line-height: 25px;
		    color: #626262;
		    font-weight: 300;
		    margin-bottom: 20px;
		}
	form{
			h3{
				font-size: 22px;
			    color: #2b2a2b;
			    font-weight: 500;
			    text-align: left;
			    margin-bottom: 33px;
			    text-transform: initial;
			    letter-spacing: 0.04em;
			}
			input[type="email"]{
				height: 41px!important;
				@media (max-width: 767px) {
					width: 90%!important;
				}
			}
			input[type="password"]{
				height: 41px!important;
				@media (max-width: 767px) {
					width: 90%!important;
				}
			}
			input[type="password"]{
				height: 50px!important;
			}
			input[type="submit"]{
				margin-top: 30px;
				cursor:pointer; 
				display: inline-block;
			    text-transform:uppercase;
			    border-radius: 5px;
			    font-size: 18px;
			    border: solid 2px #fff;
			    color: #fff;
			    padding: 15px 20px;
			    text-decoration: none;
			    text-align: center;
			    background-color: #ffc400;
			    border-color: #ffc400;
			    color: #fff;
			    transition: all 0.3s linear;
			    &:hover{
			    	background: #fff;
			    	color: #ffc400;
			    }
			}
		}
	}

}