/* ========================= *\
	HERO SECTION
\* ========================= */
.contact-hero .hero-banner .mask {
	opacity: .1;
}



/* ========================= *\
	CONTACT SECTION
\* ========================= */

.contact-section {
	width: 100%;
	float: left;
	margin-top: 70px;
	margin-bottom: 35px;

	h1, h2, h3, h4, h5, h6, p, li {
		text-align: left;
		color: #2b2a2b;
		text-transform: none;
		font-weight: normal;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 30px;
	}

	address {
		font-family: "GillSans";
		font-style: normal;
		font-weight: 300;
		margin: 30px 0;
		
		p, a {
			margin-bottom: 0;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
		}

		a {
			text-decoration: none;
			color: #959595;

			&:hover {
				color: #ffc400;
				text-decoration: none;
			}
		}

		strong {
			font-weight: normal;
		}
	}



	/* =======    CONTACT FORM COLUMN    ======= */

	.widget-type-form {
		margin: 30px 0;

		.form-title, label[placeholder] {
			display: none;
		}

		input, textarea {
			color: #2b2a2b;
			margin-top: 0;
		}

		input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="checkbox"], textarea {
			font-family: "GillSans";
			font-weight: normal;
			color: #2b2a2b;
			font-size: 16px;
			border: 1px solid #d5d5d5;
			border-radius: 3px;
			padding: 20px;
			margin-top: 10px;
			margin-bottom: 10px;

		}

		textarea {
			resize: vertical;
		}

		.hs_submit input[type="submit"] {
			border: 2px solid #ffc400;
		}

		.hs-error-msgs {
			li, label, a {
				font-size: 18px;
				color: #2b2a2b;
			}
		}

		::-webkit-input-placeholder {
			color: #2b2a2b;
		}

		:-moz-placeholder {
		    color: #2b2a2b;
		}

		::-moz-placeholder {
		    color: #2b2a2b;
		}

		:-ms-input-placeholder {
		    color: #2b2a2b;
		}

		/* Multiple checkboxes for field hs_stringo_models only */
		.hs_stringo_models {

			> label {
				color: red;
				padding: 20px;
				border: 1px solid #d5d5d5;
				border-radius: 3px;
				width: 100%;
				display: inline-block;
			}

			label {
				display: inline-block;
				font-family: "GillSans";
				font-weight: normal;
				font-size: 16px;
				margin-bottom: 0;
				margin-top: 0;
				width: 100%;

				span {
					color: #2b2a2b;
				}
			}

			&__angle-right {
				position: absolute;
				right: 20px;
				font-size: 20px;
				line-height: 1;
				transform: rotate(90deg);
				transition: all .2s linear;

				.fa {
					color: #ffc400;
				}
			}

			ul {
				position: relative;
				margin-top: -1px;
				background-color: #fff;
				border: 1px solid #d5d5d5;
				border-radius: 0 0 3px 3px;
				z-index: 2;

				li {
					border-bottom: 1px solid #d5d5d5;
					padding: 20px;

					&:last-child {
						border-bottom: 0;
					}

					input[type="checkbox"] {
						margin: 0;
						margin-right: 5px;
						padding: 0;

						+ span:before {
							position: absolute;
							display: block;
							content: "";
							top: 50%;
							transform: translateY(-50%);
							bottom: 0;
							left: 0;
							width: 16px;
							height: 16px;
							background-image: url("//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/checkbox.png");
							background-position: left center;
						}

						&:checked + span:before {
							background-position: 16px center;
						}
					}
				}
			}

			/* class .show is toggled on click with JS */
			&.show {
				.hs_stringo_models__angle-right {
					transform: rotate(0);
				}
			}
		}
	}



	/* =======    ADDRESS + SOCIALS COLUMN    ======= */

	.stringo-socials {

		&__button {
			display: inline-block;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			margin-right: 8px;
			color: #fff;
			background-color: #ffc400;
			border: 2px solid #ffc400;

			transition: all .3s linear;

			&--square {
				border-radius: 3px;
			}

			&:hover {
				background-color: #fff;
				color: #ffc400;
			}
		}
	}

}

