body.privacy-policy{
	.text-main{
		margin-top: 40px;
		h1{
			margin-top: 10px;
		}
		.two-column-left-content{
			border: none;
		}
		ol{
			padding-left: 25px;
			li{
				text-align: justify;
	    		margin-bottom: 20px;
	    		padding-left: 5px;
	    		
	    		&:before{
	    			 top: 16px;	    
	    			 min-width: 30px;	
	    			 left: -35px;	
	    			 text-align: right;	 
	    		}
			}
		}
	}
}
