.subscription-preferences{
	background-color: #fbfbfb;
	.main-content{
		margin: 120px 0px;
		form{
			h1{
				font-size: 42px;
			    color: #2b2a2b;
			    font-weight: 500;
			    text-align: left;
			    margin-bottom: 33px;
			    text-transform: initial;
			    letter-spacing: 0.04em;
			    line-height: 48px;
			     text-transform: none!important;
			}
			h2{
				font-size: 22px;
			    color: #2b2a2b;
			    font-weight: 500;
			    text-align: left;
			    margin-bottom: 33px;
			    text-transform: none!important;
			    letter-spacing: 0.04em;
			}
			p{
				text-align: left;
			    font-size: 16px;
			    line-height: 25px;
			    color: #626262;
			    font-weight: 300;
			    margin-bottom: 20px;
			    padding-top: 15px;
			}
			input[type="checkbox"]{

					height:25px;
                    visibility: hidden;

                    +span {
                    	padding-left:25px;
                    	margin-left: 0px;
                    	position: relative;
                        &:before {
							content: "";
							position: absolute;
							top: 50%;
							left: -1px;
							display: block;
							width: 14px;
							height: 14px;
							font-family: "FontAwesome";
							//background-color: red;
							transform: translateY(-50%);
							border-radius: 5px;
                        }
                        &:after{
                            content: "\f096";
						    position: absolute;
						    top: 50%;
						    left: 0px;
						    display: block;
						    color: #e0e0e0;
						    width: 24px;
						    height: 24px;
						    font-family: "FontAwesome";
						    transform: translateY(-50%);
						    font-size: 18px;
						    
						 }
                    }
                    &:checked {
                        +span {
                            &:after {
                                content: "\f14a";
                                color: #ffc400;
                            }
                        }
                    }
			}
			span{
				font-family: "Gill Sans";
				font-weight: 400;
			}
			input[type="submit"]{
				cursor:pointer; 
				display: inline-block;
			    text-transform:uppercase;
			    border-radius: 5px;
			    font-size: 18px;
			    border: solid 2px #fff;
			    color: #fff;
			    padding: 15px 20px;
			    text-decoration: none;
			    text-align: center;
			    background-color: #ffc400;
			    border-color: #ffc400;
			    color: #fff;
			    transition: all 0.3s linear;
			    &:hover{
			    	background: #fff;
			    	color: #ffc400;
			    }
			}

		}
		.email-prefs .item .item-inner {
			background: #fff;
		}
		.email-prefs .item .item-inner.selected {
		    background: #f7f7f7;
		}
		.subscribe-options{
			label{
				margin-left:6px;
				input[type="checkbox"]{
					height:25px;
                    visibility: hidden;
                    display: none;
                    +span {
                    	padding-left:25px;
                    	margin-left: 0px;
                    	position: relative;
                        &:before {
							content: "";
							position: absolute;
							top: 50%;
							left: -1px;
							display: block;
							width: 14px;
							height: 14px;
							font-family: "FontAwesome";
							//background-color: red;
							transform: translateY(-50%);
							border-radius: 5px;
                        }
                        &:after{
                            content: "\f096";
						    position: absolute;
						    top: 50%;
						    left: 0px;
						    display: block;
						    color: #e0e0e0;
						    width: 24px;
						    height: 24px;
						    font-family: "FontAwesome";
						    transform: translateY(-50%);
						    font-size: 18px;
						    
						 }
                    }
                    &:checked {
                        +span {
                            &:after {
                                content: "\f14a";
                                color: #ffc400;
                            }
                        }
                    }
			}
			}
		}
	}
}








