/*BLOG LISTING*/

.rich-text-blog-careers {
    margin-top: 70px;
    h2{
        font-size: 40px;
        font-weight: 300;
        color: #2b2a2b;
        span{
            color: $mainColor;
        }
    }
}

.listing-blog-careers{
    margin: 80px 0; 
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width : 767px) {
        flex-wrap:nowrap;
        flex-direction: column;
    }
    .single-post-wrap{
        width: 50%;
        max-width: 570px;
        height: 395px;
        @media only screen and (max-width : 767px) {
            width: 100%;
            margin: 0 auto;
        }  
        .single-post{
            width: 100%;
            height: 395px;
            @media only screen and (max-width : 767px) {
                position: relative;
            }   
        }
        .sinle-post-description{
            background: $mainColor;
            width: 281px;
            height: 337px;
            margin: 30px 0px 28px 25px;
            border-radius: 5px;
            position: relative;
            @media only screen and (max-width : 767px) {
                position: absolute;
            }
            @media only screen and (max-width : 359px) {
                margin: 15px 0px 14px 5px;
            } 
            .sinle-post-description-inner{
                position: absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                width: 80%;
                height: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h3{
                    margin: 0; 
                    a{
                    font-size: 25px;
                    color: #fff;
                    font-weight: 600;  
                    }
                }
                .content{
                    .short-desc-white{
                        color: #fff;
                        font-weight: 600;
                         margin: 5px 0px 0px 0px;   
                    }
                    .short-desc-brown{
                        color: #444444;
                        font-weight: 600;
                         margin: 5px 0px 0px 0px;   
                    }

                }
                .button{
                    width: 53px;
                    height: 53px;
                    border: 2px solid #626260;
                    border-radius: 50%; 
                    font-size: 30px;
                    padding: 0;
                    margin: 0;  
                    display: flex;
                    justify-content: center;
                    align-items: center;
                   
                    &:hover{
                        border: 2px solid #fff!important;
                        i{
                            color: #626260;
                        }
                    } 
                    i{
                        margin-top: -5px;
                        margin-left: 5px;
                        font-size: 35px;
                        transition: all .6s ease;
                    }
                    

                }
                
            }
        }

    }
}


/*SINGLE POST*/

.post-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 50px 0;
    @media only screen and (max-width : 480px) {
        flex-direction: column;
    }
}
.blog-section{
    .img-description { 
        margin-right: 30px;
        width: 87px;
        height:87px;
        background-color:#ffc400;
        border-radius:50%;
        text-align: center;
        position: relative;
        @media only screen and (max-width : 480px) {
            margin-right: 0px;
            margin-bottom: 10px; 
        }
        img { 
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: auto !important;
        }
    }
}
.description{
    @media only screen and (max-width : 480px) {
        text-align: center;
    }
    h3 {
        padding: 0;
        margin: 0;
        span{
            color: #2b2a2b;
            font-size: 40px;
            line-height: 42px;
        }
    }
    span{
        font-size:20px;
        color: #2b2a2b;
    }
}
.blog-careers .blog-section .post-body ul li{
    line-height: 45px;
    @media only screen and (max-width : 480px) {
        line-height: 25px;
    }
}

.careers-form{
    width: 100%;
    height: 739px;
    background-position: center center;
    position: relative;
    .careers-form-inner{
        position: absolute;
        top:50%;
        left:50%;
        width: 100%;
        height: 626px;
        transform: translate(-50%,-50%);
        background-color: rgba(74,73,73,0.9);
        border-radius: 10px;
         padding: 0 40px;
        .careers-form-wrap{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            width: 90%;
            height: auto;
            // background: red;
            h3{
                text-transform: uppercase;
                font-size: 33px;
                font-weight: 600;
                padding: 0;
                margin: 0px 0px 35px 0px;
            }
            p{
                color: #fff;
                font-size:20px;
                font-weight: 200;
                margin: 0;
                line-height: 48px;
        
            }
        }
    }
}


// FLEX FOR FORM

.form-content{
        h3{
                display: none;
        }
    .flex-wrap{
        display: flex;
        justify-content: space-between;
        .flex-left{
            width: 100%;
            input{
                background: none;
                width: 100%;
                border:none;
                border-bottom: 1px solid #fff;
                margin:0;
                padding: 0;
                color:#fff;
                line-height: 24px;
                margin-top: 45px;
                -webkit-border-radius:0; 
                 border-radius:0;
            }
            ul{
                list-style: none;
                li{
                    color: red;
                    font-size: 14px;
                }
            }

            .input{
                ul{
                    list-style: none;
                    li{
                        label{
                            input{
                                width: auto;
                                float: left;
                                margin-top:25px;
                                display: none;
                            }
                            span{
                                color:#fff;
                                display: block;
                                padding: 10px 0px 0px 30px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            
        }
        .flex-right{
            width: 100%;
            margin-left: 25px;
            input[type="submit"]{
                width: 139px;
                height: 55px;
                background: #ffc400;
                color: #fff;
                border: 1px solid #ffc400;
                border-radius: 5px;
                float: right;
                margin: 30px 0px 0px 0px !important;
                cursor: pointer;
                &:hover{
                    background-color: #fff;
                    border: 1px solid #ffc400;
                    color: #ffc400;
                }
            }
            // DROP OR SELECT

            .hs_file_upload_example{
                width: 100%;
                height: 215px;
                // background: grey; 
                border-radius: 10px;
                border: dotted 1px #fff;
                position: relative;
                margin-top: 68px;
                label {
                    display: block;
                    border-radius: 10px;
                    cursor: pointer;
                    width: 50%;
                    text-align: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    // background: pink; 
                    cursor: pointer;
                    span{
                        color: #fff;
                    }
                    strong{
                        display: block;
                        width: 60px;
                        height: 60px;
                        margin:5px auto;
                        line-height: 60px;
                        i{
                            font-size: 30px;
                        }
                    }

                }
                &:before{
                    content: "Cirriculum vitae";
                    color: #fff;
                    position: absolute;
                    top: -30px;
                    font-weight: 300;
                }
                .input{
                    input[type="file"]{
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        overflow: hidden;
                        position: absolute;
                         /*z-index: -1; */
                        display: block;
                        background: red;
                        top: 0;
                        left: 0;
                        margin: 0;
                        border-radius: 10px;
                        cursor: pointer; 

                    }
                }
            }
          
        // END DROP DOWN
        }
    }
}










        
        
           
        

.form-content .input ul li label input[type="checkbox"]:checked + span:before {
    background-position: 16px 0px;
}

.form-content .input ul li label input[type="checkbox"] + span:before {
    content: "";
    position: relative;
    top: 30px;
    left: -30px;
    background-image: url('http://cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/careers/checkbox-careers.png');
    display: block;
    width: 16px;
    height: 16px;
    background-position: left top;
    cursor: pointer;
}




.hs_file_upload_example .input input[type="file"]:hover , .hs_file_upload_example:hover {
                    border-style: solid;
                    border-color: #fff;
                }   

      


@media only screen and (max-width : 767px) {

    .form-content {
        .flex-wrap{
                    flex-direction: column;
            .flex-left{
                width: 100%;
                
            }
            .flex-right{
                width: 100%;
                margin-left: 0px;
            }
        }
    }

    .careers-form{
        width: 100%;
        min-height: 1000px;
        position: relative;
        .careers-form-inner{
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%,-50%);
            width: 100%;
            min-height: 856px;        }
    }

    .hs_file_upload_example{
        margin-top: 50px;
    }

}
@media only screen and (max-width : 767px) {

   

    .careers-form{
    width: 100%;
    min-height: 739px;
    background-size: cover !important;
    background-position: center center;
    position: relative;
    .careers-form-inner{
        position: absolute;
        top:50%;
        left:50%;
        width: 95%; //100
        height: 95%; //626
        transform: translate(-50%,-50%);
        background-color: rgba(74,73,73,0.9);
        border-radius: 10px;
        // background-color: yellow;
        p{
            line-height: 28px;
        }
        .careers-form-wrap{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            width: 90%;
            height: auto;
            // background: red;
        }
    }
    }

}


@media only screen and (max-width : 449px) {

    .careers-form{
        min-height: 1100px;
        .careers-form-inner{
            min-height: 976px;
        }
    }


}