.case-study-v2 {
    .case-studies {
        margin: 13px 15px;
    }
    .case-study-body {
        margin-left: 13px;
        @media (max-width: 767px) {
            margin-left: 0;
        }
    }
    .case-study-container {
        max-width: 1810px;
        @media (max-width: 767px) {
            padding-right: 0;
            padding-left: 0;
        }
    }
    .listing-blog {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 1114px) {
            justify-content: center;
        }
    }
    .body-container-wrapper {
        background-color: #fbfbfb;
        margin-top: -20px;
    }
    .right-sidebar {
        background-color: #fff;
        width: 310px;
        @media (max-width: 767px) {
            width: 100%;
        }
        h4 {
            margin-left: 20px;
            color: $secondaryTextColor;
            font-size: 20px;
            font-weight: 600;
            @media (max-width: 767px) {
                margin-bottom: -10px;
            }
        }
    }
    .sidebar-submenu {
        border: none;
    }
    .case-study-container .row-fluid-wrapper > .row-fluid {
        display: flex;
        @media (max-width: 767px) {
            display: block;
        }
    }
    .listing-blog .pagination {
        padding-left: 15px;
        width: 100%;
        cursor: auto;
        li {
            background-color: #fff;
            border-radius: 4px;
            a {
                border-color: #ebebeb;
                border-radius: 4px;
                overflow: hidden;
            }
        }
    }
    nav.clearfix {
        width: 100%;
    }
    figure.case-study {
        min-width: 360px;
        margin: 0;
        overflow: hidden;
        border-radius: 10px;
        height: 360px;
        max-width: 360px;
        width: 100%;
        transition: 0.5s all;
        &:hover {
            box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .1);
        }
        &:hover .company-logo {
            height: 215px;
        }
        &:hover .company-logo img {
            width: 180px;
        }
        @media (max-width: 400px) {
            min-width: 0;
        }
        .feature-image {
            background-size: cover;
            width: 100%;
            height: 215px;
            position: relative;
        }
        .company-logo {
            transition: all 0.5s;
            height: 60px;
            width: 100%;
            background-color: rgba($mainColor, 0.65);
            position: absolute;
            bottom: 0;
            img {
                transition: all 0.5s;
                position: absolute;
                width: 100px;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .description {
            height: 145px;
            width: 100%;
            padding: 20px;
            background-color: #fff;
            p {
                height: 105px;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0;
                font-size:20px;
                color: $secondaryTextColor;
                font-weight: 300;
            }
        }
    }
    section.hero-banner.huge {
    	height: 725px;
    }
}
