.brands-slider {
	display: flex;
	justify-content: space-around;
	height: 200px;
	align-items: center;
	position:relative;
	&__section {
		background: $mainColor;
	}

	.slick-prev {
		left: 60px;
	}

	.slick-next {
		right: 60px;
	}
	.slick-slide img {
		margin: 0 auto;
	}
	.slick-list{
margin-left: 80px;
    margin-right: 80px;
	}
		.slick-arrow{
			position:absolute;
			top:50%;
			width:auto;
			height:auto;
			transform:translateY(-50%);	
			z-index:1;
			margin-top:0px;
			&.slick-prev{
				left:48px;
				&:before{
				    content:'';
				    background-image:url("//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png");
				    background-repeat:no-repeat;
				    background-size:cover;
				    width:30px;
				    height:58px;
				    display:block;
				}
			}
			&.slick-next{
				right:48px;
				&:before{
				    content:'';
				    background-image:url("//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png");
				    background-repeat:no-repeat;
				    background-size:cover;
				    transform:scaleX(-1);
				    width:30px;
				    height:58px;
				    display:block;
				}	
			}
		}

	.slick-dots {
	    bottom: 0px;
	    width: 100%;
	    list-style: none;
	    text-align: center;
	    li{
	    	button:before{
	    		font-size:26px;
	    	}
	    	&.slick-active{
				button:before{
					color:#fff;
				}

	    	}
	    }
	}

}