section.contact-banner-v1{
	position:relative;
	min-height:508px;
	color:#fff;
	background-repeat:no-repeat;
	background-size:cover;
	.mask{
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.46);
	}
	.container{
		position:relative;
		z-index:9;
		display:flex;
		min-height: 508px;
		align-items:center;
		justify-content:center;
		.span4{
			font-size:16px;
			p{
				font-size:16px;				
			}
			h3{
				font-weight:600;
				text-transform:uppercase;
			}
		}
		.span8{
		    #map{
		        max-width: 585px;
		        width:100%;
		        height: 349px;
		        float:right;
		    }

		}
	}
}
@media screen and (max-width:767px){ 
	section.contact-banner-v1{
		.container{
		    flex-direction: column;
	   		.span8{
	   			width:100%;
			    #map{
			        float: none;
				    margin: 0 auto;
				    margin-bottom: 30px;
			    }

			}
		}
	}
}