section.contact-banner-v2{
	position:relative;
	min-height:508px;
	color:#fff;
	background-repeat:no-repeat;
	background-size:cover;
	margin-top: 70px;
	.mask{
		top:0;
		left:0;
		width:100%;
		height:100%;
		position: absolute;
		background: rgba(0,0,0,0.46);
	}
	.container{
		position:relative;
		z-index:9;
		display:flex;
		min-height: 508px;
		align-items:center;
		justify-content:flex-start;
		.span12{
			font-size:16px;
			background-color:rgba(0,0,0,0.58);
			padding: 0 60px;
			max-width: 585px;
			border-left: 4px solid #ffc400;
			//margin-top: 50px;
			p{
				font-size:16px;				
			}
			h3{
				font-weight:500;
				font-size: 31px;
				text-transform:uppercase;
				letter-spacing: 2px;
			}
		}
	}
}
@media screen and (max-width:767px){ 
	section.contact-banner-v2{
		.container {
			.span12 {
				padding: 0 30px;
			}	
		}
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	section.contact-banner-v2{ 
		.container{
   			height: 508px;
   		}
	}
}