.feature-yolk-box {
	width: 33.33%;
	float: left;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;

	&__image {
		img {
			max-width: 80px;
			max-height: 80px;
		}
	}

	&__header {
		font-size: 24px;
		font-weight: 500;
		color: #fff;
		text-transform: uppercase;
	}

	&__description {
		font-size: 16px;
		font-weight: 200;
		color: #fff;
	}
}


@media (max-width : 767px) {
	.feature-yolk-box {
		float: none;
		width: 100%;
		max-width: 300px;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: auto;
		margin-right: auto;
	}

}