	.features{
		margin-bottom:100px;
		h2{
			color:#ffc400;
			font-weight: 600;
			margin-top: 50px;
		}
		.feature{
			margin-top: 70px; 
			h3{
				font-size: 24px;
				color:#2b2a2b;
				font-weight: 600;
				margin-bottom: 10px;
		        margin-top:0px;
			}
			div.content{
				font-size: 16px;
				color:#2b2a2b;
			}
		}
	} 
	@media screen and (max-width:767px){
	    .features{
	        .feature{
	            text-align:center;
	            i {
	                margin-bottom: 15px;   
	            }
	        }
	    }
	}