section.free-quote {
    @media (max-width: 1114px) {
        float: left;
        padding-bottom: 40px;
    }
    .container {
        max-width: 1810px;
        padding-left: 333px;
        @media (max-width: 1114px) {
            padding-left: 0;
            padding-right: 0;
        }
        .inner-container {
            max-width: 1140px;
            @media (max-width: 1114px) {
                display: inline;
            }
        }
    }
    min-height: 105px;
    width: 100%;
    background-color: $mainColor;
    .fq-text {
        font-size: 32px;
        color: #FFF;
        line-height: 105px;
        display: inline;
        @media (max-width: 1114px) {
            clear: both;
            display: block;
            text-align: center;
        }
        p {
        	@extend .fq-text;
        	line-height: 1.4;
        }
    }
    .fq-cta {
        display: inline-block;
        float: right;
        margin-top: 23px;
        @media (max-width: 1114px) {
            margin-top: 0;
    		display: inline;
    		width: 100%;
    		text-align: center;
        }
    }
}
