.hero-banner-landing {
    height: 695px;
    margin-top: 70px;
    position: relative;
    .opacity-bg {
        background: rgba(255,196,0, 0.55);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-flow: wrap;
        .hero-banner-wrap {
            z-index: 1;
            text-align: left;
            flex-grow: 1.2;
            max-width: 630px;
            width: 60%;
            margin-right: 20px;
            h1 {
                text-transform: none;
                text-align: left;
                font-weight: 300;
                color: #fff;
                font-size: 50px;
                span {
                    color: #fff400;
                    letter-spacing: 2px;
                    color: $mainColor;
                }
            }
            h2 {
                font-size: 30px;
                line-height: 125%;
                padding: 15px 0;
                font-weight: 200;
                color: #fff;
                text-transform: none;
                text-align: left;
            }
            p {
                font-size:20px;
                line-height: 24px;
                font-weight: 200;
                max-width: 600px;
                color: #fff;
                margin-bottom: 40px;
            }
            ul {
                li {
                    list-style-type: none;
                    float: left;
                    text-align: center;
                    margin-right: 10px;
                    }
                }    
            }
        }
        .form-placeholder {
            margin-left: auto;
            flex-grow: 0.8;
            max-width: 430px;
        .hero-banner-form {
            z-index: 1;
            //max-width: 430px;
            border-radius: 5px;
            background-color: rgba(255,255,255,0.8);
            padding: 0 30px;
            //margin-left: auto;
            //flex-grow: 0.8;
            .hs-error-msgs {
                list-style-type: none;
                margin-top: 5px;
                label {
                    font-size: 14px;
                }
            }
            h3 {
                font-family: 'Palanquin';
                font-weight: 600;
                font-size: 30px;
                line-height: 40px;
                color: #2b2a2b;
                text-align: center;
                padding-top: 20px;
                position: relative;
                &:after {
                    content: '...';
                    display: inline;
                    color: $mainColor;
                    margin-left: 2px;
                    position: relative;
                    letter-spacing: 2px;
                }
            }
            .hs-form-field {
                margin-bottom: 20px;
                box-shadow: none;
                color: #2b2a2b;
                .hs-form-required { display: none; }
                    input {
                        border: none;
                        border-radius: 4px;
                        background-color: #ffffff;
                    }    
                    .hs-input {
                        font-size:20px;
                        font-family: 'Palanquin';
                        font-weight: 200;
                        height: 55px;
                        border: none;
                        padding-left: 13px;
                        
                    }               
              
            }
            .hs_dropdown_example {
                background: white;
                border-radius: 4px;
                //padding: 0 6px 0 13px;
                position: relative;
                &:after {
                    position: absolute;
                    content: url('http://cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/dropdown_icon.png');
                    right: 25px;
                    top: 13px;
                    width: 7px;
                    height: 12px;
                }
            select {
                color: rgba(98,98,98,0.6);
                background-color: #fff;
                outline: none;
                -webkit-appearance: none;
               -moz-appearance: none;
               appearance: none;
               }
            }   
            
            .hs-button.primary.large {
                cursor: pointer;
                background-color: $mainColor;
                border-radius: 4px;
                border: 2px solid $mainColor;
                min-height: 27px;
                min-width: 134px;
                width: 100%;
                text-decoration: none;
                text-transform: uppercase;
                padding-top: 20px;
                padding-bottom: 20px;
                color: #ffffff;
                font: 300 22px / 22px Palanquin;
                transition: linear 0.3s all;              
                margin-bottom: 20px;
                &:hover {
                    background-color: white;
                    color: $mainColor;
                    border-color: $mainColor;
                }
            }
         }
    }
} 


@media (max-width: 767px) {
    .hero-banner-landing {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            .hero-banner-form {

                margin: 50px auto;
            }
            .hero-banner-wrap { 
                width: 100%;
                margin: 0 20px;
            }
        }
    }
}