.hero-event-clock{
  height: 602px;
  width: 100%;
  margin-top: 70px;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
    .mask{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: #000;
    opacity: .35;
    z-index: 1;
  }
  .clock-wrap{
    position: absolute;;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    border: 2px solid #ffc400;
    border-radius: 10px;
    // padding: 20px 90px;
    max-width: 972px;
    width: 95%;
    height: 198px;
    margin-top: -50px; 
    @media only screen and (max-width : 580px) {
              height: 298px; 
    }

    .clock{
      position: absolute;;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      padding:10px;
      width: 100%;
      color: #fff;
      // background-color: green;
      display: flex;
      justify-content: center;
      margin-top: -15px;
      @media only screen and (max-width : 580px) {
               // flex-direction: column;  
      flex-wrap: wrap;    
      }

      span{
        display: block;
        float: left;
        // background-color: red;
        margin: 0 5px;
        text-align: center;
        width: 20%;
        @media only screen and (max-width : 768px) {
            width: 20%;
        }
        @media only screen and (max-width : 580px) {
               // flex-direction: column;  
          width: 40%;    
        }
        strong{
          display: block;
          font-size: 130px;
          font-weight: 200;
          // background-color: yellow;
          padding: 0;
          margin:0;
          line-height: 135px;
          width: 100%;
          @media only screen and (max-width : 768px) {
                font-size: 90px;
                line-height: 95px;
          }
          
        }
        small{
          display: block;
          font-size: 25px;
          text-transform: uppercase;
          // background-color: blue;
          font-weight: 200;
          padding: 0;
          margin:0;
          margin-top: 15px;
          @media only screen and (max-width : 580px) {
              font-size:20px; 
              margin-top: 5px;
          }
        }
      }
      p{
        display: block;
        margin: 0;
        padding: 0;
        float: left;
        // background-color: pink;
        font-size: 130px;
        line-height: 135px;
        padding: 0 2%;
        @media only screen and (max-width : 768px) {
                font-size: 90px;
                line-height: 95px;
                padding: 0 5px;
        }
        // @media only screen and (max-width : 580px) {
        //       display: none;  
        // }
        &:nth-child(4){
          @media only screen and (max-width : 580px) {
              display: none;  
          }
        }
      }
    }
  }
}









