.hero-banner{
	display: flex;
	align-items: center;
	text-align: center;
	height: 510px;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 0;

		.hero-banner-wrap{
			z-index: 2;
			width: 100%;
			margin: 0 auto;
			position: relative;
			h1{
				font-family: "GillSans";
				color: #fff;
				font-weight: normal;
				font-size: 58px;
				letter-spacing: .1em;
				span{
					color: $mainColor;
					font-weight: 600;
					font-size: 58px;
				}
			}
			h2{
				font-size: 23px;
				font-weight: normal;
				color: #fff;
				text-transform: capitalize;
			}
			p{
				font-family: "GillSans";
			    font-size: 23px;
			    font-weight: normal;
			    letter-spacing: .4em;
			    color: #fff;
			    text-transform: uppercase;
			    text-align: center;
			    word-wrap: break-word;
			}
		}	
		.mask{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			opacity: .3;
			z-index: 1;
		}
}