.homevideo {
	position: relative;
	background-image: none;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	overflow: hidden;

	.mask { 
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		background-color: rgba(0,0,0,0.56);
	}

	video {
		display: block;
		height: 100vh;
		object-fit: cover;
	}

	.content {
    	position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    min-width: 80%;
	    max-width:100%;
	    padding-left:15px;
	    padding-right:15px;
		a.play {
		  	cursor:pointer; 
			display: inline-block;
		    text-transform:uppercase;
		    padding: 15px 10px;
		    border-radius: 5px;
		    font-size: 18px;
		    border: solid 2px #fff;
		    color: #fff;
		    padding: 10px;
			width: 170px;
		    text-decoration: none;
		    text-align: center;
		    background-color: transparent;
		    border-color: #fff;
		    color: #fff;
		    transition: all 0.3s linear;
		    &:hover {
			    border: solid 2px #ffc400;
			    color: #fff;
			    background-color: #ffc400;
			}
		}
		.btn-video-home{
		    cursor:pointer; 
		    display: inline-block;
		    text-transform:uppercase;
		    padding: 15px 10px;
		    border-radius: 5px;
		    font-size: 18px;
		    border: solid 2px #fff;
		    color: #fff;
		    padding: 10px;
		    width: 170px;
		    text-decoration: none;
		    text-align: center;
		    background-color: #ffc400;
		    border-color: #ffc400;
		    color: #fff;
		    transition: all 0.3s linear;
	        &:hover {
			    border: solid 2px #fff;
			    color: #fff;
			    background-color: transparent;
			}
		}

		    h1 {
		    	color: #fff;
		    	font-weight: 300;
		    	font-size: 70px;
		    	span {
		    		font-weight: 600;
		    		font-size: inherit;
		    	}
		    }

		    h2, h3, h4, h5, h6{
				color: #fff;
		    }

		    p {
		    	color: #fff;
		    	font-size:25px;
		    	font-weight:300;
		    	text-align:center;
		    }

		    p:last-of-type {
			    text-align:center;
			    margin-top:60px;
				
			    a.cta_button, a.btn-video-home{
				    position:relative;
				    margin-bottom:0px;
				    margin-left:10px;
				    margin-right:10px;
				    @media (max-width : 542px) {
				    	margin-bottom: 20px;
				    }

				}
				.hs-cta-wrapper a.cta_button{
					margin-top:0!important;
				}
				>.hs-cta-wrapper:first-of-type {
					a.cta_button {
				    	position:relative;
					}
				}
		}
    }

}

@media (max-width : 992px) {
    .homevideo {
    	margin-top: 70px;
    	height: 80vh;
    	min-height: 600px;

    	video {
    		display: none;
    	}

    	.content {
    		
    	}
    }
}

@media (max-width: 767px) {
    .homevideo {
        .content {
        	h1 {
		    	color: #fff;
		    	font-weight: 300;
		    	font-size: 50px;
		    	span {
		    		font-weight: 600;
		    		font-size: inherit;
		    	}
		    }

		    h2, h3, h4, h5, h6{
				color: #fff;
		    }

		    p {
		    	color: #fff;
		    	font-size:20px;
		    	font-weight:300;
		    	text-align:center;
		    }
           p:last-of-type{
			    margin-top:30px;
           }
        }
    }
}