.ico-image-hero{
	//min-height: 627px;
	padding-top: 43px;
	width: 100%;
	background-color: #e9e9e9;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-family: GillSans;
	@media (max-width: 1024px) {
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
	}
	.left{
		img{
			width: 100%;
			height: 100%;
			padding-left: 15px;
		
		
	}
	@media (max-width: 1024px) {
			order: 3;
			padding: 15px 15px 0px 15px;

		}

	}
	.right{
		max-width: 540px;
		// background-color: red;
		padding: 15px 15px 40px 60px;
		@media (max-width: 1024px) {
			max-width: 95%;
			padding: 15px;
			//order:3;
		}
		h2{
			text-align: left;
			color: #2b2a2b;
			font-size: 40px;
			text-transform: none;
			font-weight: 400;
		}
		.icons-section{ 
			font-family: "GillSans"; /*"ebgaramond12";*/

			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 35px;
			@media (max-width: 1024px) {
				justify-content: space-around;
			}
			@media (max-width: 480px) {
				flex-direction: column;
				align-items: center;
			}
			.icon{
				text-align: center;
				min-width: 122px;
				@media (max-width: 480px) {
					margin: 15px 0px;
				}
				img{
					display: block;
					margin: 0px auto 10px auto;
				}
			}
			
		}
		small{
			font-size: 20px;
			font-family: "GillSans"; /*"ebgaramond12";*/
			@media (max-width: 1024px) {
				text-align:center;
				display: block;
				margin: 20px auto 0px auto;
			}
		}
	}
}






