.landing-single-event{
	width: 100%;
	height: 100%;
	.single-event-wrap{
		height: 79px;
		width: 100%;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		.time-single{
			width: 20%;
			margin:0;
			padding-left: 30px;
			font-size: 23px;
			// background-color: pink;
			@media only screen and (max-width : 580px) {
              font-size:20px;
              padding-left: 15px;
              text-align: center;
    		}

		}
		.desc-single{
			width: 70%;
			padding-left: 30px;
			font-size: 21px;
			@media only screen and (max-width : 580px) {
              font-size: 16px;
              width: 80%;
    		}
		}
		.dot-single{
			width: 10%;
			height: 100%;
			position: relative;
			// background-color: pink;
			@media only screen and (max-width : 580px) {
              width: 20%;
    		}

			a{
				position: absolute;
				top: 50%;
				left:50%;
				transform: translate(-50%,-50%);
				width: 39px;
				height: 9px;
				.dot-img{
					background: url('http://cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/link-more-3dot.png');
					width: 39px;
					height: 9px;
					background-position: center top;
					&:hover{
						background-position: center bottom;
					}
				}
			}	
		}
	}		
}


