section.latest-news-module{
	padding:72px 0;
	position:relative;
	min-height:234px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	.container{
		width:100%;
		margin-left:15px;
		margin-right:15px;
		h2{
			color:#2b2a2b;
			font-size:40px;
			text-transform:none;
			font-weight:400;
			margin-bottom:50px;
			margin-top:0px;
			text-align:center;

		}
		.slick-slider{
			.slick-track{
				display:flex;
			}
			.slick-list{
				display:flex;
			}
			.slick-dots{
				position:relative;
				li{
					button{
						width:11px;
						height:11px;
						background-color:#ffc20f;
						border-radius:50%;
						opacity:0.43;
						&:before{
							display:none;
						}
					}
					&.slick-active{
						button{
							opacity:1;
						}
					}
				}
			}
		    .slick-arrow {
		        position: absolute;
		        top: 50%;
		        width: auto;
		        height: auto;
		        transform: translateY(-50%);
		        z-index: 1;
		    }
		    .slick-prev {
				left: -88px;
				@media screen and (max-width:1360px){
					left: -55px;
				}
				&:before{
					background-image: url('//cdn2.hubspot.net/hubfs/500293/Stringo/Assets/img/arrow-left-yellow.png');
				} 
		    }
		   .slick-next {
		        right: -88px;
		        @media screen and (max-width:1360px){
					right: -55px;
				}
		        &:before{
					background-image: url('//cdn2.hubspot.net/hubfs/500293/Stringo/Assets/img/arrow-left-yellow.png');
				}
		    }






		}
		div.news-list{
			width:100%;
			div.news{
				display:flex;
   				justify-content: space-between;
   				div.content{
					width:49%;
					flex-direction:column;
					display:flex;
					padding: 0 10px;
					h3{
						color:#2b2a2b;
						font-size:35px;
						font-weight:400;
						margin-bottom:50px;
						margin-top:0;
						text-align:left;
					    margin-top: -6px;
					}
					div.summary-wrapper{
						justify-content:space-between;
					flex-direction:column;
					display:flex;
					height: 100%;
					}
					div.summary{
						text-align:left;
						font-size:20px;
						color:#2b2a2b;
						font-weight:400;
						margin-bottom:70px;
						p{
							text-align:left;
							font-size:20px;
							color:#2b2a2b;
							font-weight:400;
							margin-top:0px;
							>span{							
								text-align:left!important;
								font-size:20px!important;
								color:#2b2a2b!important;
								font-weight:400!important;
								font-family:"GillSans"; /*"ebgaramond12";*/
							}
						}
						strong{
							color:#ffc400;
						}
						a{
							color:#ffc400;
							&:hover{
								text-decoration:underline;
							}
						}
					

					}
					a.read-more{

						cursor:pointer; 
						display: inline-block;
						    text-transform:uppercase;
						    padding: 15px 10px;
						    border-radius: 5px;
						    font-size:20px;
						    border: solid 2px #fff;
						    color: #fff;
							padding: 10px;
							width: 170px;
							font-family:"GillSans";
						    text-decoration: none;
						    text-align: center;
						    background-color: #ffc400;
						    border-color: #ffc400;
						    color: #fff;
						    transition: all 0.3s linear;
						    &:hover{
						        border: solid 2px #ffc400;
							    color: #ffc400;
							    text-decoration:none;
							    background-color: transparent;
							    transition: all 0.3s linear;
						    }
					}
				}
				div.image{
					width:49%;
					background-position: center;
					background-size: cover;
					margin: 0 10px;
				}
			}
		}
	}
	
}
@media screen and (max-width:767px){
	section.latest-news-module{
	.container{
		div.news-list{
			width:100%;
			div.news{
   				flex-direction:column-reverse;
				justify-content:space-between;
				height:100%;
   				div.content{
					width:100%;
					flex-direction:column;
					justify-content:space-between;
					height:100%;
					h3{
						margin-bottom:20px;
					    margin-top: 20px;
					    text-align:center;
					}
					div.summary-wrapper{
						justify-content:flex-start;
						flex-direction:column;
						display:flex;
						height: 100%;
						text-align:center;
						align-items:center;
					}
					div.summary{
						margin-bottom:20px;
						text-align:center!important;
						p{
							text-align:center!important;
							
						}
					}
					a.read-more{
						text-align:center!important;

					}
				}
				div.image{
					width:100%;
					background-position: center;
					background-size: cover;
					min-height:300px;
					margin: 0 auto;
				}
			}
		}
	}
	
}

}
