figure.people {
	width: 210px;
	margin: 25px 37px;
	.image {
    width: 210px;
    height: 210px;
    background-size: cover;
    border-radius: 50%;
    background-color: white;
    position: relative;
	overflow: hidden;
	}
	.image:hover .people-hover {
    		height: 210px;
    		clip: rect(0,210px,210px,0);
    }
	.name-and-surname {
		font-size: 21px;
		color: $mainColor;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		margin: 20px 0 8px 0;
		line-height: 1;
	}
	.job {
    font-size: 16px;
    color: $secondaryTextColor;
    text-align: center;
    margin: 0;
	}
	.people-hover {
		display: inline-block;
		width: 210px;
		height:0;
		transition: all 0.3s;
		background-color: $mainColor;
		height: 0px;
    	transition: 0.5s;
    	position: absolute;
        clip: rect(0,210px,0,0);
		a {
			display: inline-block;
    		margin-top: 80px;
		}
		.social-icons {
			text-align: center;
		}
		.icon-circle {
			margin-top: 80px;
			text-align: center;
			width: 50px;
			height: 50px;
			background-color: white;
			border-radius: 50%;
			display: inline-block;
			margin: 0 3px;
	
	    	i {
    			text-align: center;
    			color: #ffc400;
    			font-size: 25px;
    			display: block;
    			line-height: 50px;
			}
		}
	}
}

span#hs_cos_wrapper_module_1481031596658111 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}