.pricing-box {
	margin: 0 15px;
	flex-basis: 250px;
	border: 2px solid $mainColor;
	border-radius: 2px;
	text-align: center;
	color: black;
	@media screen and (max-width: 767px) {
		width: 300px;
		margin-bottom: 50px;
	}

	@media screen and (max-width: 400px) {
		width: 260px;
	}
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 150px 0 375px 0;
		
		@media screen and (max-width: 767px) {
			flex-flow: column nowrap;
			align-items: center;
			padding: 75px 0 200px 0;
		}
	}

	&__starting-at {
		text-align: center;
	}
	
	&__price {
		display: block;
		font-size: 51px;
		color: $mainColor;
		margin-top: -15px;
		font-weight: bold;
	}
	&__features {
		text-align: center;
	}

	&__order {
		text-align: center;
	}

	&__title {
		margin-top: 0;
		padding: 20px 20px;
		font-size: 31px;
		font-weight: 300;
		color: $mainColor;
		width: 100%;
		display: block;
		border-bottom: 1px solid $mainColor;
	}
	
	&__starting-at {
		color: $secondaryTextColor;
		font-size: 16px;
		padding-bottom: 10px;
	}
	&__feature-text {
		border-bottom: 1px solid $mainColor;
		padding-bottom: 10px;
		width: 80%;
		margin: 15px auto;
		display: block;

	}
	&__feature-text--bold {
		color: $mainColor;
		font-weight: bold;
		display: inline-block;
		margin-right: 5px;
	}

	&__order {
		@extend .yellow-button;
	}

	
}

.pricing-box--highlighted {
	background: $mainColor;
	flex-basis: 300px;
	.pricing-box {
		&__starting-at {
			color: white;
		}
		&__title {
			color: white;
			font-size: 2.5em;
			border-color: white;
		}
		&__feature-text {
			padding: 10px 0;
			border-color: white;
			color: white;
			&--bold {
				color: white;
			}
		}
		&__price {
			color: white;
			padding: 5px 0;
		}
		&__order {
			background: white;
			color: $mainColor;
			&:hover {
				background: $mainColor;
				color: white;
				border-color: white;
			}
		}
	}
}