.sm-slider-wrapper{
	overflow: hidden;
	 height:471px;
	.questione-one-slide{
		width: 100%;
		height: 471px;
		background-size: cover;
		background-position: center center;
		position: relative;
		z-index: 0;
		display: flex;
		flex-direction:column;
		justify-content: center;
		align-items: center;
		.mask{
			background-color: #000;
			z-index: 1;
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.content-slide{
			//background-color: red;
			z-index: 3;
			text-align: center;
			.testimonial-header{
				color: #fff;
			    font-size: 40px;
			    text-transform: none;
			    font-weight: 400;
			    margin-bottom: 40px;
			    margin-top: 0px;
    			text-align: center;
    			padding: 0 80px;
			}
			.testimonial-content{
				font-size: 20px;
			    font-weight: 200;
			    color: #fff;
			    text-align: center;
			    margin-bottom: 26px;
			    width: 100%;
			    padding: 0 80px;
			}
		}
	}
}
