.resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  width: 570px;
  &--vertical {
       flex-direction: column;
       width: 285px; 
       justify-content: flex-start;
       text-align: center;
       @media screen and (max-width: 900px) {
       	width: 50%;
       }
   	}
  &__container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
	  &--vertical {
	  	justify-content: flex-start;
	  	padding-bottom: 100px
	  }
}

&__image-container {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  .resource--vertical & {
  	flex-basis: 100%;
  	margin-bottom: 28px;
  	@media screen and (max-width: 400px) {
  		margin-bottom: 5px;
  	}
  }
}

&__image {
  width: 100%;
  height: 100%;
  transition: transform .3s, opacity .3s;
  &:hover {
    transform: scale(1.2);
    opacity: .9;
  }
}
&__description {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: 30px;
  width: 100%;
  .resource--vertical & {
  	margin-top: 10px;
  	padding-right: 0;
  }
}

&__details {
  margin-left: 10px;
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  .resource--vertical & {
  	margin-left: 0;
  	flex-basis: 100%;
  	text-align: center;
  }
}

&__title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: normal;
  .resource--vertical & {
  	width: 100%;
  	padding: 0 5px;
  }
}

&__button {
    background: $mainColor;
    color: white;
    padding: 13px 45px;
    border-radius: 5px;
    font-weight: 300;
    text-transform: uppercase;
    border: 1px solid white;
    transition: all .2s;
    .resource--vertical & {
  		display: block;
  		margin: 0 auto;
    }
    &:hover {
      background: white;
      color: $mainColor;
      border: 1px solid $mainColor;
    }
}

  &__effects-wrapper {
    height: 300px;
    width: 200px;
    box-shadow: 6px 6px 0 $mainColor, 2px 1px 5px rgba(black, .3);
    overflow: hidden;
    background: black;
    .resource--vertical & {
      margin: 0 auto;
    }
  }
}



@media screen and (max-width: 1000px) {
    
    
    .resource {
        flex-direction: column;
        &__description {
          padding-right: 35px;
        }
    }
    
    .resource__image-container {
        flex-basis: 50%;
    }
    
    .resource__details {
        margin-left: 0;
    }
    
    .resource__title {
        margin-top: 10px;
    }
    
    
    .resource__container{
        min-height: 300px;
    }

}

@media screen and (max-width: 500px) {
   
    
    .resource__container {
        padding-top: 0;
    }
    
    .resource {
        width: 100%;
    }
}
