.resource-categories__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  -webkit-box-pack: between;
  -ms-flex-pack: between;
  justify-content: between;
  padding: 0;
  margin-top: 100px;
  @media screen and (max-width: 1000px) {
	flex-wrap: wrap;  	
  }
  @media screen and (max-width: 500px) {
  	flex-direction: column;
  	margin-top: 30px;
  }
}

.resource-categories__element {
  cursor: pointer;
  padding: 10px 25px;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 5px;
  font-size: 1.1em;
  border: 2px solid $mainColor;
  color: $mainColor;
  @media screen and (max-width: 1000px) {
  	text-align: center;
  }
  &--active {
    background:$mainColor;
    color: white;
  }
}
.resource-categories__element:hover {
    background: $mainColor;
    color: white;
}