.separator {
	background: white;
	padding: 20px 0;
	h2 {
		font-family: "GillSans";
	    color: #fff;
	    font-weight: normal;
	    text-transform: capitalize;
	    font-size: 34px;
	    text-align: left;
	    @media (max-width: 767px) {
	    	text-align: center;
	    }
	}
	h4 {
		color: #333;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 34px;
	}

	&--yellow {
		background: $mainColor;
		h4 {
			color: white;
		}
	}
	
	&--contact {
		position: relative;
		padding: 40px 0 50px;
		&__mask {
			@extend .mask;
		}
		h4 {
			color: white;
			text-align: center;
			position: relative;
			z-index: 2;
			font-weight: 400;
		}
		a {
			position: relative;
			z-index: 2;
		}
	}

	.widget-type-cta {
		text-align: right;
	}

	.flex-wrapper {
		.row-fluid {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

@media (max-width: 767px) {
	.separator {

		.flex-wrapper {
			.row-fluid {
				display: block;
			}

			.widget-type-cta {
				text-align: center;
			}
		}
	}
}