.small-header-for-blog{
	background-size:cover;
	background-position: center;
	height: 510px;
	margin-top:70px;
	position:relative;
	.mask{
		top:0;
		left:0;
		width:100%;
		height:100%;
		position:absolute;
		background-color:rgba(0,0,0,0.30);
	}
	h1{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		z-index:2;
		font-size: 58px;
		width:auto;
		max-width: 1140px;
		font-weight:normal;
		margin:0;
        color: #fff;
        span{
        	color:#fff;
        	font-size:inherit;
        }
	}
}

@media (max-width: 767px) {

    .small-header-for-blog{ 

    	h1 {
    		font-size: 40px;
    	}
    }
}