.small-header-for-careers{
	background-size:cover;
	height: 500px;
	margin-top:-20px;
	position:relative;
	.mask{
		top:0;
		left:0;
		width:100%;
		height:100%;
		position:absolute;
		background-color:rgba(0,0,0,0.30);
	}
	.description-header{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		text-align: center;
		h1{
			font-weight:300!important;
			z-index:2;
			font-size: 58px;
			width:100%;
			font-weight:normal;
			margin:0;
	        color: #fff;
	        span{
	        	font-weight:600!important;
	        	color:#ffc400;
	        	font-size:58px;
	        }
	    }
	    p{
			color: #fff;
			font-size: 23px;
			i{
				font-size: 23px;
				color:$mainColor;
				padding-right: 15px;
			}
	    }
	    .hidden-element{
	    	display: none;
	    }

	}
}

@media only screen and (max-width : 480px) {
		.small-header-for-careers{
	    	.description-header{
				h1{
					
					font-size: 48px;
					span{
						font-size: 48px;
					}
		    	}
	    }
		}
}