.square-box {
	position: relative;
	height: 100%;
	background: #ffc400;
	border-radius: 5px;
	padding: 35px 25px;

	&__image {
		height: 50px;
		width: auto;
	}

	h4 {
		color: #fff;
		font-size: 20px;
		font-weight: 600;
	}

	p {
		color: #fff;
		font-size: 16px;
	}
}