.video-module {
	position: relative;
	max-height: 500px;
	overflow: hidden;
	text-align: center;
	&__play-button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		margin: auto;
		color: #fff;
		z-index: 10;
		width: 136px;
		height: 136px;
		border: none;
		text-align: center;
		background-size: cover;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
	}

	&__label {
		position: absolute;
		display: inline-block;
		font-size: 40px;
		top: 160px;
		left: 50%;
		transform: translateX(-50%);
		min-width: 400px;
		width: 100%;
	}
	

}

@media (max-width: 767px) {
	.video-module {

		&__play-button {
			width: 100px;
			height: 100px;
		}

		&__label {
			font-size: 30px;
			top: 110px;
			@media (max-width: 400px) {
				font-size: 18px;
			}
		}
	}
}

@media (max-width: 486px) {
	.video-module {

		&__play-button {
			width: 80px;
			height: 80px;
		}

		&__label {
			font-size: 24px;
			top: 80px;
			@media (max-width: 400px) {
				font-size: 18px;
			}
		}
	}
}